/*----------MQ Index----------*/
@media screen and (max-width: 320px){
    .navCustom{
        .container-nav{
            .title{
                .logo{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 375px){
    .navCustom{
        .container-nav{
            .title{
                .logo{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .mainIndex{
        #spin{
            font-size: 3.7rem;
        }
        .btnIndexTienda{
            font-size: 1.3rem;
        }
    }
    .sectionIndex{
        .container{
            .colImagen{
                .overlay{
                    .tituloImagen{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .footer-section{
        .container{
            .footer-widget{
                ul{
                    li{
                        a{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}






/*------------------MQ NOSOTROS---------------------*/
@media screen and (max-width: 320px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        .mainNosotros{
            .contenedorNosotros{
                .row{
                    .colPrincipalMainNosotros{
                        #titleNosotros{
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
       
        .articleNosotros{
            #h2Nosotros{
                font-size: 2.5rem;
            }
            .card{
                width: 90%;
                justify-content: center;
                margin: auto;
                margin-bottom: 2rem;
            }
        }
    }  
}

@media screen and (max-width: 375px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
        .mainNosotros{
            height: auto;
            .contenedorNosotros{
                .row{
                    .colPrincipalMainNosotros{
                        #titleNosotros{
                            font-size: 3.2rem;
                        }
                    }
                }
            }
        }
       
        .articleNosotros{
            #h2Nosotros{
                font-size: 2.5rem;
            }
            .card{
                width: 90%;
                justify-content: center;
                margin: auto;
                margin-bottom: 2rem;
            }
        }
    }  
}

@media screen and (max-width: 425px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .mainNosotros{
            height: 60vh;
            .contenedorNosotros{
                .row{
                    .colPrincipalMainNosotros{
                        #titleNosotros{
                            font-size: 3.3rem;
                        }
                    }
                }
            }
        }
    }
    .articleNosotros{
        #h2Nosotros{
            
            font-size: 2.6rem;
        }
        .card{
            width: 90%;
            justify-content: center;
            margin: auto;
            margin-bottom: 2rem;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .mainNosotros{
            height: auto;
            .contenedorNosotros{
                width: 100%;
                #titleNosotros{
                    font-size: 4.5rem;
                    margin-right: 1rem;
                    margin-bottom: 3rem;
                }
                .articleNosotros1{
                    width: 100%;
                    height: auto;
                    font-size: 1.3rem;
                    color: $color-navbar;
                }
            }
        }
    }
    .articleNosotros{
        #h2Nosotros{
            font-size: 3.5rem;
        }
        .card{
            width: 90%;
            justify-content: center;
            margin: auto;
            margin-bottom: 2rem;
            h3{
                font-size: 1.5rem;
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .mainNosotros{
            height: auto;
            .contenedorNosotros{
                width: 100%;
                #titleNosotros{
                    font-size: 5rem;
                    margin-right: 1rem;
                    margin-bottom: 3rem;
                }
                .articleNosotros1{
                    width: 100%;
                    height: auto;
                    font-size: 1.3rem;
                    color: $color-navbar;
                }
            }
        }
    }
    .articleNosotros{
        #h2Nosotros{
            font-size: 3.5rem;
        }
        .card{
            width: 90%;
            justify-content: center;
            margin: auto;
            margin-bottom: 2rem;
            h3{
                font-size: 1.5rem;
            }
        }
    }
    
}

@media screen and (max-width: 1440px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .mainNosotros{
            height: auto;
            .contenedorNosotros{
                width: 100%;
                #titleNosotros{
                    font-size: 5rem;
                    margin-right: 1rem;
                    margin-bottom: 3rem;
                }
                .articleNosotros1{
                    width: 100%;
                    height: auto;
                    font-size: 1.3rem;
                    color: $color-navbar;
                }
            }
        }
    }
    .articleNosotros{
        #h2Nosotros{
            font-size: 3.5rem;
        }
        .card{
            width: 90%;
            justify-content: center;
            margin: auto;
            margin-bottom: 2rem;
            h3{
                font-size: 1.5rem;
            }
        }
    }
    
}

@media screen and (max-width: 2560px) {
    .bodyNosotros{
        .navBreadcrumb{
            margin-bottom: 2rem;
            .breadcrumb{
                li{
                    a{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .mainNosotros{
            height: auto;
            .contenedorNosotros{
                width: 100%;
                #titleNosotros{
                    font-size: 5rem;
                    margin-right: 1rem;
                    margin-bottom: 3rem;
                }
                .articleNosotros1{
                    width: 100%;
                    height: auto;
                    font-size: 1.3rem;
                    color: $color-navbar;
                }
            }
        }
    }
    .articleNosotros{
        #h2Nosotros{
            font-size: 3.5rem;
        }
        .card{
            width: 90%;
            justify-content: center;
            margin: auto;
            margin-bottom: 2rem;
            h3{
                font-size: 1.5rem;
            }
        }
    }
    
}
/*---------------------------------------------------*/

/*-------------------------MQ SHOP-----------------------*/
@media screen and (max-width: 320px) {
    #titleTienda{
        margin-top: 2rem;
        font-size: 3rem;
    }
    .cardTienda{
        .cardBody{
            height: 30%;
            h3{
                font-size: 1.2rem;
            }
            .precioCard{
                font-size: 1.3rem;
            }
        }
        .card-footer{
            .btnComprar{
                width: 50%;
                font-size: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    #titleTienda{
        margin-top: 2rem;
        font-size: 3rem;
    }
    .cardTienda{
        .cardBody{
            height: 30%;
            h3{
                font-size: 1.7rem;
            }
            .precioCard{
                font-size: 1.4rem;
            }
        }
        .card-footer{
            .btnComprar{
                width: 50%;
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #titleTienda{
        margin-top: 2rem;
        font-size: 3.5rem;
    }
    .cardTienda{
        .cardBody{
            height: 30%;
            h3{
                font-size: 1.7rem;
            }
            .precioCard{
                font-size: 1.4rem;
            }
        }
        .card-footer{
            .btnComprar{
                width: 50%;
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #titleTienda{
        margin-top: 2rem;
        font-size: 4rem;
    }
    .cardTienda{
        .cardBody{
            height: 30%;
            h3{
                font-size: 1.7rem;
            }
            .precioCard{
                font-size: 1.4rem;
            }
        }
        .card-footer{
            .btnComprar{
                width: 50%;
                font-size: 0.8rem;
            }
        }
    }
}

/*---------------------------------------------------------*/
/*------------------------MQ TIENDAS-----------------------*/
@media screen and (max-width: 320px) {
    .mainTiendas{
        .row{
            .titleTiendas{
                font-size: 2rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .mainTiendas{
        .row{
            .titleTiendas{
                font-size: 2.5rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .mainTiendas{
        .row{
            .titleTiendas{
                font-size: 3.5em;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainTiendas{
        .row{
            .titleTiendas{
                font-size: 4rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
        .card-img-top{
            width: 100%;
            height: 50vw;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1024px) {
    .mainTiendas{
        .row{
            .titleTiendas{
                font-size: 4rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
        .card-img-top{
            width: 100%;
            height: 50vw;
            object-fit: cover;
        }
    }
}
/*---------------------------------------------------------*/

/*------------------------MQ CONTACTO----------------------*/
@media screen and (max-width: 320px){
    .titleContacto{
        font-size: 3rem !important;
    }
    
}

@media screen and (max-width: 375px){
    .titleContacto{
        font-size: 3.2rem !important;
    }
    
}

@media screen and (max-width: 425px){
    .titleContacto{
        font-size: 3.3rem;
    }
    
}

@media screen and (max-width: 768px){
    .titleContacto{
        font-size: 4rem;
    }
    
}

@media screen and (max-width: 1024px){
    .titleContacto{
        font-size: 4.5rem;
    }
    
}
@media screen and (max-width: 1024px){
    .titleContacto{
        font-size: 5rem;
    }
    
}
@media screen and (max-width: 1440px){
    .titleContacto{
        font-size: 5rem;
    }
    
}
@media screen and (max-width: 2160px){
    .titleContacto{
        font-size: 5rem;
    }
}