/*----------MQ Index----------*/
@media screen and (min-width: 280px) and (max-width: 320px) {
    .navbar-light {
        width: 100%;
        .container-fluid {
            width: 100%;
            .logoNeon {
                display: none;
                font-size: 1rem;
            }
            .imagenLogoSmall {
                font-size: 2.5rem;
                font-weight: 800;
                display: inline-block;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            font-size: 0.8rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}
.mainIndex {
    display: none;
}
.sectionIndex {
    height: auto;
    .h1Index {
        font-size: 2rem !important;
    }
}
.articleIndexTestimonios {
    .h2Index {
        font-size: 1.5rem !important;
    }
}
.footer-dark{
    h3{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .card{
        .btn-light{
            font-size: 1rem;
        }
        .btn{
            font-size: 1rem;
            width: 100%;
            padding: 0.4rem;
        }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .navbar-light {
        width: 100%;
        .container-fluid {
            width: 100%;
            .logoNeon {
                display: none;
                font-size: 1rem;
            }
            .imagenLogoSmall {
                font-size: 2.5rem;
                font-weight: 800;
                display: inline-block;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            font-size: 0.8rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}
.mainIndex {
    display: none;
}
.sectionIndex {
    height: auto;
    .h1Index {
        font-size: 2rem !important;
    }
}
.articleIndexTestimonios {
    .h2Index {
        font-size: 1.8rem !important;
    }
}
.footer-dark{
    h3{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .item-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .navbar-light {
        width: 100%;
        .container-fluid {
            width: 100%;
            .logoNeon {
                display: none;
                font-size: 3rem;
            }
            .imagenLogoSmall {
                font-size: 2.5rem;
                font-weight: 800;
                display: inline-block;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            font-size: 0.8rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}
.mainIndex {
    display: none;
}
.sectionIndex {
    height: auto;
    .h1Index {
        font-size: 2.2rem !important;
    }
}
.articleIndexTestimonios {
    .h2Index {
        font-size: 1.9rem !important;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .navbar-light {
        width: 100%;
        .container-fluid {
            width: 100%;
            .logoNeon {
                display: none;
                font-size: 1rem;
            }
            .imagenLogoSmall {
                font-size: 2.5rem;
                font-weight: 800;
                display: inline-block;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            font-size: 0.8rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}
.mainIndex {
    display: none;
}
.sectionIndex {
    height: auto;
    .h1Index {
        font-size: 2.2rem !important;
    }
}
.articleIndexTestimonios {
    .h2Index {
        font-size: 1.9rem !important;
    }
}
.footer-dark{
    h3{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .item-social{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-light {
        width: 100%;
        .container-fluid {
            width: 100%;
            .logoNeon {
                
                font-size: 2.5rem;
            }
            .imagenLogoSmall {
                display: none;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            font-size: 0.8rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}
.mainIndex {
    display: none;
}
.sectionIndex {
    height: auto;
    .h1Index {
        font-size: 2.2rem !important;
    }
}
.articleIndexTestimonios {
    .h2Index {
        font-size: 1.9rem !important;
    }
}
.footer-dark{
    h3{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .item-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}

@media screen and (min-width: 1025px) and (max-width: 2600px) {
    .navbar-light {
        width: 100%;
        .container-fluid {
            width: 100%;
            .logoNeon {
                
                font-size: 3rem;
            }
            .imagenLogoSmall {
                display: none;
            }
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            font-size: 0.8rem;
        }
    }
    .navbar-collapse {
        .nav-item {
            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}
.mainIndex {
    display: none;
}
.sectionIndex {
    height: auto;
    .h1Index {
        font-size: 2.2rem !important;
    }
}
.articleIndexTestimonios {
    .h2Index {
        font-size: 1.9rem !important;
    }
}
.footer-dark{
    h3{
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    .item-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}

/*----------MQ NOSOTROS-----------*/

@media screen and (max-width: 320px) {
    .mainNosotros {
        width: 100%;
        height: 300vh;
        .contenedorNosotros {
            width: 100%;
            font-family: $fuente;
            .titleNosotros {
                font-size: 3rem;
            }
        }
    }

    .nosotros {
        .nosotros__articuloNosotros {
            font-size: 1rem;
        }
    }
    .nuestra_mision {
        .nosotros__nuestra_mision__h2 {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }
        .nosotros__nuestra_mision__articulo {
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .nosotros__nuestros_valores__h2Custom {
        font-size: 1rem;
        color: #edc999;
        font-family: $fuente;
        text-align: center;
        color: #4d3227;
        letter-spacing: 0;
    }
    .nosotros__articuloValores__listaValores {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .mainNosotros {
        width: 100%;
        height: 300vh;
        .contenedorNosotros {
            width: 100%;
            font-family: $fuente;
            .titleNosotros {
                font-size: 2.5rem;
            }
        }
    }

    .nosotros {
        .nosotros__articuloNosotros {
            font-size: 1rem;
        }
    }
    .nuestra_mision {
        .nosotros__nuestra_mision__h2 {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }
        .nosotros__nuestra_mision__articulo {
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .nosotros__nuestros_valores__h2Custom {
        font-size: 1rem;
        color: #edc999;
        font-family: $fuente;
        text-align: center;
        color: #4d3227;
        letter-spacing: 0;
    }
    .nosotros__articuloValores__listaValores {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .mainNosotros {
        width: 100%;
        height: 280vh;
        .contenedorNosotros {
            width: 100%;
            font-family: $fuente;
            .titleNosotros {
                font-size: 3.5rem;
            }
        }
    }

    .nosotros {
        .nosotros__articuloNosotros {
            font-size: 1rem;
        }
    }
    .nuestra_mision {
        .nosotros__nuestra_mision__h2 {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }
        .nosotros__nuestra_mision__articulo {
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .nosotros__nuestros_valores__h2Custom {
        font-size: 1rem;
        color: #edc999;
        font-family: $fuente;
        text-align: center;
        color: #4d3227;
        letter-spacing: 0;
    }
    .nosotros__articuloValores__listaValores {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .mainNosotros {
        width: 100%;
        height: 180vh;
        .contenedorNosotros {
            width: 95%;
            font-family: $fuente;
        }
        .rowNosotros {
            .titleNosotros {
                font-size: 3rem;
            }
        }

        .nosotros {
            .nosotros__articuloNosotros {
                font-size: 1rem;
            }
        }
        .nuestra_mision {
            .nosotros__nuestra_mision__h2 {
                font-size: 1.2rem;
                letter-spacing: 0.2rem;
            }
            .nosotros__nuestra_mision__articulo {
                font-size: 1.5rem;
                text-align: center;
            }
        }
        .nosotros__nuestros_valores__h2Custom {
            font-size: 2rem;
            color: #edc999;
            font-family: $fuente;
            text-align: center;
            color: #4d3227;
            letter-spacing: 0;
        }
        .nosotros__articuloValores__listaValores {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mainNosotros {
        width: 100%;
        height: 160vh;
        .contenedorNosotros {
            width: 95%;
            font-family: $fuente;
        }
        .rowNosotros {
            .titleNosotros {
                font-size: 4rem;
            }
        }

        .nosotros {
            .nosotros__articuloNosotros {
                font-size: 2rem;
            }
        }
        .nuestra_mision {
            .nosotros__nuestra_mision__h2 {
                font-size: 2.5rem;
                letter-spacing: 0.2rem;
            }
            .nosotros__nuestra_mision__articulo {
                font-size: 2rem;
                text-align: center;
            }
        }
        .nosotros__nuestros_valores__h2Custom {
            font-size: 2.5rem;
            color: #edc999;
            font-family: $fuente;
            text-align: center;
            color: #4d3227;
            letter-spacing: 0;
        }
        .nosotros__articuloValores__listaValores {
            font-size: 1.5rem;
        }
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .mainNosotros {
        width: 100%;
        height: 160vh;
        .contenedorNosotros {
            width: 95%;
            font-family: $fuente;
        }
        .rowNosotros {
            .titleNosotros {
                font-size: 4rem;
            }
        }

        .nosotros {
            .nosotros__articuloNosotros {
                font-size: 2rem;
            }
        }
        .nuestra_mision {
            .nosotros__nuestra_mision__h2 {
                font-size: 2.5rem;
                letter-spacing: 0.2rem;
            }
            .nosotros__nuestra_mision__articulo {
                font-size: 2rem;
                text-align: center;
            }
        }
        .nosotros__nuestros_valores__h2Custom {
            font-size: 2.5rem;
            color: #edc999;
            font-family: $fuente;
            text-align: center;
            color: #4d3227;
            letter-spacing: 0;
        }
        .nosotros__articuloValores__listaValores {
            font-size: 1.5rem;
        }
    }
}

/*-----------MQ TIENDA----------*/
@media screen and (max-width: 320px) {
    .contenedorMain__centrar {
        width: 100%;
        .contenedorMain__centrar__titleTienda {
            font-size: 1rem;
            padding-top: 1vh;
            padding-bottom: 0;
        }
        .cardCustom {
            background-color: #4d3227;
        }
        .cardsBody {
            width: 100vw;
        }
    }
    .modalContentCustom {
        .modalContentCustom__modalHeaderCustom {
            font-size: 1.2rem;
        }
        .modalContentCustom__modalBodyCustom {
            .text-mb-1 {
                font-size: 1rem;
            }
        }
        .modalFooter {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .contenedorMain__centrar {
        width: 100%;
        .contenedorMain__centrar__titleTienda {
            font-size: 2rem;
            padding-top: 1vh;
            padding-bottom: 0;
        }
        .cardCustom {
            background-color: #4d3227;
        }
    }
    .modalContentCustom {
        .modalContentCustom__modalHeaderCustom {
            font-size: 1.4rem;
        }
        .modalContentCustom__modalBodyCustom {
            .text-mb-1 {
                font-size: 1.2rem;
            }
        }
        .modalFooter {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 425px) {
    .contenedorMain__centrar {
        width: 100%;
        .contenedorMain__centrar__titleTienda {
            font-size: 2.5rem;
            padding-top: 1vh;
            padding-bottom: 0;
        }
        .cardCustom {
            background-color: #4d3227;
        }
    }
    .modalContentCustom {
        .modalContentCustom__modalHeaderCustom {
            font-size: 1.5rem;
        }
        .modalContentCustom__modalBodyCustom {
            .text-mb-1 {
                font-size: 1.3rem;
            }
        }
        .modalFooter {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 1024px) {
    .contenedorMain__centrar {
        width: 100%;
        .contenedorMain__centrar__titleTienda {
            font-size: 3rem;
            padding-top: 1vh;
            padding-bottom: 0;
        }
        .cardCustom {
            background-color: #4d3227;
        }
    }
    .modalContentCustom {
        .modalContentCustom__modalHeaderCustom {
            font-size: 1.6rem;
        }
        .modalContentCustom__modalBodyCustom {
            .text-mb-1 {
                font-size: 1.5rem;
            }
        }
        .modalFooter {
            font-size: 1.6rem;
        }
    }
}

.contenedorMain__centrar {
    width: 100%;
    .contenedorMain__centrar__titleTienda {
        font-size: 3.5rem;
        padding-top: 1vh;
        padding-bottom: 0;
    }
    .cardCustom {
        background-color: #4d3227;
    }
}
.modalContentCustom {
    .modalContentCustom__modalHeaderCustom {
        font-size: 1.6rem;
    }
    .modalContentCustom__modalBodyCustom {
        .text-mb-1 {
            font-size: 1.5rem;
        }
    }
    .modalFooter {
        font-size: 1.6rem;
    }
}

/*----------MQ SUCURSALES----------*/
@media screen and (max-width: 280px) {
    .mainSucursales {
        .mainSucursales__titleSucursales--centrado {
            font-size: 2rem !important;
        }
    }
}

@media screen and (max-width: 375px) {
    .mainSucursales__titleSucursales--centrado {
        padding-top: 10px;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 425px) {
    .mainSucursales__titleSucursales--centrado {
        padding-top: 10px;
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 768px) {
    .mainSucursales__titleSucursales--centrado {
        padding-top: 10px;
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .mainSucursales__titleSucursales--centrado {
        padding-top: 10px;
        font-size: 3.5rem;
    }
    .bodyContacto__headerCustom__navCustom {
        .imagenLogoSmall {
            display: none;
        }
    }
}

/*-----------MQ CONTACTO----------*/

@media screen and (max-width: 320px) {
    .bodyContacto {
        .imagenLogo {
            display: none;
        }
        .breadcrumbItem {
            a {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .bodyContacto {
        .imagenLogo {
            display: none;
        }
        .breadcrumbItem {
            a {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .bodyContacto {
        .imagenLogo {
            display: none;
        }
        .breadcrumbItem {
            a {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .bodyContacto {
        .imagenLogoSmall {
            display: none;
        }
        .imagenLogo {
            display: flex;
            font-size: 2.5rem;
        }
        .breadcrumbItem {
            a {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .bodyContacto {
        .imagenLogoSmall {
            display: none;
        }
        .imagenLogo {
            display: flex;
            font-size: 2.5rem;
        }
        .breadcrumbItem {
            a {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .bodyContacto {
        .imagenLogoSmall {
            display: none;
        }
        .imagenLogo {
            display: flex;
            font-size: 2.5rem;
        }
        .breadcrumbItem {
            a {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 2048px) {
    .bodyContacto {
        .imagenLogoSmall {
            display: none;
        }
        .imagenLogo {
            display: flex;
            font-size: 2.5rem;
        }
        .breadcrumbItem {
            a {
                font-size: 1.3rem;
            }
        }
    }
}

/*---------------MQ CAROUSEL INICIO----------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #textSlider.row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .iamCol {
        text-align: center;
        font-size: 20pt;
    }
    .iamCol p {
        display: inline !important;
    }
    .slideCol {
        font-size: 25pt;
        text-align: center;
        margin-top: -20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 765px) {
    #textSlider.row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .iamCol {
        text-align: center;
        font-size: 25pt;
    }
    .iamCol p {
        display: inline !important;
    }
    .slideCol {
        font-size: 38pt;
        text-align: center;
        margin-top: -20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #textSlider.row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .iamCol {
        text-align: center;
        font-size: 30pt;
    }
    .iamCol p {
        display: inline !important;
    }
    .slideCol {
        font-size: 50pt;
        text-align: center;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #textSlider.row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .iamCol {
        text-align: right;
        font-size: 30pt;
    }
    .slideCol {
        font-size: 55pt;
        text-align: left;
        }
    }
}