$fuente: "Heebo", sans-serif;
$fuente-navbar: 'Lato', sans-serif;
$tamaño-titulo:	6rem;
$color-h1: #806854;
$color-principal: #806854;
$color-section: #DBCDAD;
$color-navbar: #A8BAA9;
$color-h2:#7e6e59;



