$fuente: "Heebo", sans-serif;
$tamaño-titulo:	6rem;
$color-titulo:	#F28627;
$color-h2: #A6691F;
$color-principal: #F2DA63;
$color-section: #D9A036;
$color-navbar: #593636;
$padding-bottom-titulo: 20px;



