@import "https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap";
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,900");
@import "variables";
@import "mediaquery";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62, 5%;
	font-family: $fuente;
}
main {
	background-color: #edc999;
}
/*---------LOGO CAFE ANIMADO----------*/

/*-------------------------------------*/
/*-----------------MIXIN TITULO-------------------*/
@mixin titulosSecciones($color, $fuente) {
	color: $color;
	font-size: 5rem;
	font-family: $fuente;
}
/*---------------------------------------------------*/
.navBreadcrumb{
	background-color:  $color-principal;;
	font-family: $fuente;
	font-size: 1.2rem;
	.breadcrumbItem{
		a{
			color: #4d3227
		}
		
	}
	.breadcrumbItemActive{
		a{
			color: white;
		}
	}
}
.mainIndex {
	background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	height: 40%;
}
.h1Index{
	font-size: 4rem;
	font-weight: 600;
	margin: auto;
	text-align: center;
	justify-content: center;
}
.btnMainIndex {
	background-color: $color-principal;
	font-family: $fuente;
	color: #faf2db;
}
.pCustomIndex {
	font-family: $fuente;
	font-size: 1.3rem;
	color: #4d3227;
	text-align: center;
}

/*------------CAROUSEL TEXTO INICIO----------------*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family:'Lato', sans-serif !important;
	font-size: 13pt !important;
	font-weight: 300 !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.carouselInner{
	margin-top: 0;
}
#myPageContent, section { 
	height:50% !important; 
	width:100% !important;
}


/* Slider */
#textSlider.row {
	position: absolute;
	top: 10%;
	left: 51%;
	transform: translate(-50%, -50%);
	width: 100%;
}
#textSlider div {
	color: #4d3227;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	margin-top: 10%;
}

.iamCol {
    text-align: right;
	float: left;
	font-weight: 300;
	font-size:10rem;
}
.iamCol p:nth-child(2) { margin-top: -20pt !important; }
.slideCol {
	text-align: left;
    overflow: hidden;
	font-weight: 900;
	font-size:6rem;
	display: block;
	white-space: nowrap;
}
.slideCol p { margin: 0px !important; }

.scroller {
   height: 10vh;
   line-height: 10vh;
   overflow: hidden;
}
.scroller .inner { animation: 10s normal infinite running scroll; }
@keyframes scroll {
   0%  	{margin-top: 0px;}
   15% 	{margin-top: 0px;}

   25%  {margin-top: -70pt;}
   40%  {margin-top: -70pt;}
   
   50%  {margin-top: -140pt;}
   65%  {margin-top: -140pt;}

   75%  {margin-top: -210pt;}
   90%  {margin-top: -210pt;}

   100% {margin-top: 0px;}
}

/*-----------------------------------------*/

/*----------CAROUSEL IMAGENES INDEX-------------*/

.container {
    transform-style: preserve-3d
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer
}

.container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease
}

.container .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover
	}
}


.container .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

.container .box:hover .body {
    transform: rotateY(180deg)
}

.container .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #593636, #F2DA63);
    transform: translateZ(100px);
	h3{
		letter-spacing: 1px
	}
}


/*----------------------------------------------*/

.navCustom {
	background-image: linear-gradient(to left, $color-navbar, $color-navbar);
	z-index: 2000;
	justify-content: center;
	height: 40%;
}
.navbar-nav {
	
	align-content: center;
	font-family: $fuente;
	text-align: center;
}
a.nav-link {
	justify-items: center;
	font-family: $fuente;
	font-size: 1.8rem;
	color: #ebc999;
	&:hover {
		color: $color-principal;
	}
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			color: $color-principal;
			&:hover {
				color: #ebc999;
			}
		}
		.nav-link.active {
			color: #d1ae4e;
		}
		
	}
	.navbar-brand {
		padding-left: 2vw;
		font-size: 3.2rem;
		color: $color-principal;
	}
}

/*--------------------LOGO NEON----------------*/
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i); 
  :root{
	--neon-text-color: #f40;
  	--neon-border-color: #08f;
  }
  
.logoNeon {
  font-family: "Exo 2", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  padding-right: 2vw;
  border: 0.3rem solid #fff;
  border-radius: 1rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;     
}

.logoNeon::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.logoNeon:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
/*----------------------------------------------*/
.cardIndex {
	margin-top: 50px;
	margin-right: 40px;
	background-color: #ebc999;
	width: 16rem;
}
.cardBodyIndex {
	font-family: $fuente;
	font-size: 1.3rem;
	text-align: center;
}
.fas {
	color: #402624;
}
.imagesCardsIndex {
	font-size: 6rem;
	padding: 10px;
	margin: auto;
}
.sectionIndex {
	padding-top: 2vh;
	background-color: $color-section;
	height: 30%;
	padding-bottom: 10vh;
}
.h2Custom {
	color: $color-h2;
	font-family: $fuente;
	font-size: 4rem;
	text-align: center;
	color: #402624;
	font-size: 3rem;
}
.pSectionIndex {
	text-align: center;
	color: #edc999;
	font-size: 1.5rem;
}

.img-responsive {
	display: block;
	max-width: 100%;
	width: 95%;
	height: 100%;
	margin: 0;
  }

/*-------------------------------BUCLE FOR------------------------------*/
@for $i from 1 through 4 {
	.pCards-#{$i} {
		font-size: 1.2rem;
		color: #402624;
	}
}
/*------------------------------FIN FOR----------------------------------*/
.footer {
	background-color: $color-principal;
	color: #4d3227;
	font-size: 1.5rem;
	clear: both;
	height: 10vh;
	font-family: $fuente;
	text-align: center;
	height: 20%;
	ul {
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;
		background-color: $color-principal;
		a {
			color: inherit;
			text-decoration: none;
			opacity: 0.8;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	li {
		padding: 0 10px;
	}
	.footer__social {
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
		> a {
			font-size: 40px;
			width: 60px;
			height: 60px;
			line-height: 40px;
			border-radius: 100px solid white;
			display: inline-block;
			justify-content: center;
			text-align: center;
			margin: 0 8px;
			color: white;
			opacity: 0.75;
		}
	}
	.copyright {
		margin-top: 15px;
		text-align: center;
		font-size: 13px;
		color: #4d3227;
		margin-bottom: 0;
		font-size: 1rem;
	}
}
.footer__social--instagram {
	&:hover {
		background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
		animation: pulse;
		animation-duration: 1s;
		cursor: pointer;
	}
}
.footer__social--whatsapp {
	&:hover {
		background-color: #25d366;
		animation: pulse;
		animation-duration: 1s;
		cursor: pointer;
	}
}
.footer__social--twitter {
	&:hover {
		background-color: #1da1f2;
		animation: pulse;
		animation-duration: 1s;
		cursor: pointer;
	}
}
.copyright {
	background-color: $color-principal;
	padding-top: 30px;
	text-align: center;
	font-family: $fuente;
	font-weight: bold;
	color: #4d3227;
	margin: 0;
}
/*------NOSOTROS------*/

.contenedorNosotros {
	width: 95%;
	height: 100vh;
	font-family: $fuente;
	.titleNosotros {
		@include titulosSecciones($color-titulo, $fuente);
		align-items: center;
		text-align: center;
		margin: auto;
	}
	.nosotros__articuloNosotros {
		font-family: $fuente;
		font-size: 1.3rem;
		text-align: justify;
		color: #4d3227;
		padding-bottom: 20px;
	}
	.nosotros__nuestra_mision__h2 {
		color: #edc999;
		font-family: $fuente;
		font-size: 2.5rem;
		text-align: center;
		color: #4d3227;
		background-color: $color-principal;
		letter-spacing: 0.8rem;
	}
	.nosotros__nuestra_mision__articulo {
		font-family: $fuente;
		font-size: 1.3rem;
		text-align: left;
		color: #4d3227;
		padding-bottom: 20px;
		line-height: 2rem;
	}
	.imagenNosotros {
		width: 46.25rem;
		height: 18rem;
		margin-bottom: 5vh;
	}
	.nosotros__articuloValores {
		font-family: $fuente;
		font-size: 1.3rem;
		text-align: justify;
		color: #4d3227;
		padding-bottom: 20px;
		.nosotros__articuloValores__listaValores {
			list-style-image: url("../multimedia/imagenItem.png");
			li {
				line-height: 2.5rem;
				.spanResaltado {
					background-color: $color-principal;
					color: #4d3227;
				}
			}
		}
	}
	.imagenNosotros2 {
		width: 46.25rem;
		height: 21.56rem;
	}
}

.menuDropDownNosotros {
	background-color: $color-principal;
	font-size: 1.3rem;
}
.menuDropDownNosotros__item--quienesSomos {
	&:hover {
		text-decoration: underline;
	}
}
.menuDropDownNosotros__item--mision {
	&:hover {
		text-decoration: underline;
	}
}
.menuDropDownNosotros__item--valores {
	&:hover {
		text-decoration: underline;
	}
}

/*------SUCURSALES-------*/
.mainSucursales {
	width: 100%;
	.mainSucursales__titleSucursales--centrado {
		@include titulosSecciones($color-titulo, $fuente);
		align-items: center;
		text-align: center;
		margin: auto;
		padding-bottom: 20px;
	}
}

.card-img-top {
	object-fit: cover;
	width: 100%;
	height: 30vh;
}
.btnMapaModal {
	background-color: $color-principal;
	color: white;
	&:hover {
		background-color: white;
		color: $color-principal;
	}
}

/*--------TIENDA-----------*/
.contenedorMain__centrar__titleTienda {
	align-items: center;
	text-align: center;
	margin: auto;
	font-family: $fuente;
	font-size: 5rem !important;
	color: $color-titulo;
}
.modalContentCustom__modalHeaderCustom {
	background-color: $color-principal;
	color: white;
	font-family: $fuente;
	font-size: 2rem;
}
.modalContentCustom__modalBodyCustom {
	font-family: $fuente;
}

.modalFooter__botonCancelar--rojo {
	background-color: red;
	color: white;
}
.modalFooter__botonComprar--verde {
	background-color: green;
	color: white;
}
/*-----------------------------MAPS---------------------------------*/
$colors: (
	color1: green,
	color2: orange,
	color3: blue,
	color4: red,
);

/*-----------------------------EACH---------------------------------*/
@each $key, $value in $colors {
	.#{$value}-background {
		color: white;
		background-color: $value;
		border-color: $value;
		&:hover {
			background-color: white;
			border-radius: 2px solid $value;
			color: $value;
		}
	}
}
/*------------------------FIN EACH----------------------------------*/
.estiloPrecioCafé {
	font-family: $fuente;
	font-size: 2rem;
}

.cardsBody {
	background-color: #5c453c;
	color: white;
	font-family: $fuente;
	border-radius: 20px;
	margin-bottom: 2vh;
	&:hover {
		background-color: #947265;
		cursor: pointer;
	}
	.btnComprar {
		margin-bottom: 2.5vh;
		font-family: $fuente;
	}
}

/*------------------------*/

/*--------CONTACTO---------*/
.bodyContacto__headerCustom__navCustom {
	background-image: linear-gradient(to left, #4d3227, #4d3227);
	grid-area: header;
	z-index: 2000;
	justify-content: center;
	height: 20%;
}
.mainContacto {
	width: 100%;
	height: 100vh;
	background-image: url(../multimedia/patron_cafe.jpg);
	background-repeat: repeat;
	.form-box {
		font-family: $fuente;
		max-width: 500px;
		margin: auto;
		padding: 50px;
		color: white;
		background: $color-principal;
		border: 10px solid #f2f2f2;
	}

	h1,
	p {
		text-align: center;
	}

	textarea {
		width: 100%;
		margin-bottom: 2rem;
	}

	.btnEnviarFormulario {
		width: 100%;
		font-size: 1rem;
		background-color: #f77638;
		color: white;
		border-color: white;
		justify-items: center;
		&:hover {
			background-color: white;
			color: #f77638;
			border-color: #f77638;
		}
	}
	.btnCancelarFormulario {
		font-size: 1rem;
		background-color: red;
		color: white;
		border-color: white;
		justify-items: center;
		&:hover {
			background-color: white;
			color: red;
			border-color: red;
		}
	}
}
