@import url("https://fonts.googleapis.com/css?family=Lato:400,300,900");
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "variables";
@import "mediaquery";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62, 5%;
}
/*-----------------MIXIN TITULO-------------------*/
@mixin titulosSecciones($color, $fuente) {
	color: $color;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	color: #413225;
	text-decoration: none;
	text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9,
		1px 18px 6px rgba(16, 16, 16, 0.4);
}
/*--------------------BREADCRUMBS-----------------*/
.navBreadcrumb {
	padding-left: 2vw;
	background-color: $color-h1;
	font-size: 1.2rem;
	font-family: $fuente-navbar;
	font-weight: 600;
	.breadcrumbItem {
		a {
			color: $color-navbar;
		}
	}
	.breadcrumbItemActive {
		a {
			color: white;
		}
	}
}

/*--------------------------------------------*/
body {
	/*--------------------------NAVBAR------------------------*/
	.navCustom {
		background-image: linear-gradient(to left, $color-navbar 50%, $color-navbar);
		z-index: 2000;
		justify-content: center;
		/*------------------------LOGO-------------------------*/
		.logo {
			margin: 0;
			text-transform: uppercase;
			font-family: "Lato", sans-serif;
			font-size: 6rem;
			font-weight: 900;
			color: #413225;
			text-decoration: none;
			text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9,
				1px 18px 6px rgba(16, 16, 16, 0.4);
			animation: fill 8s infinite;

			@keyframes fill {
				0% {
					color: #413225;
					text-decoration: none;
					text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9,
						1px 18px 6px rgba(16, 16, 16, 0.4);
				}
				25% {
					color: #806854;
					text-decoration: none;
					text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9,
						1px 18px 6px rgba(16, 16, 16, 0.4);
				}
				50% {
					color: #b39c7d;
					text-decoration: none;
					text-shadow: 1px 1px 1px #806854, 1px 2px 1px #806854, 1px 3px 1px #806854, 1px 4px 1px #806854,
						1px 18px 6px rgba(16, 16, 16, 0.4);
				}
				75% {
					color: #dbcdad;
					text-decoration: none;
					text-shadow: 1px 1px 1px #413225, 1px 2px 1px #413225, 1px 3px 1px #413225, 1px 4px 1px #413225,
						1px 18px 6px rgba(16, 16, 16, 0.4);
				}
				100% {
					color: #413225;
					text-decoration: none;
					text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9,
						1px 18px 6px rgba(16, 16, 16, 0.4);
				}
			}
		}
		.navbar-toggler {
			background-color: $color-h2;
			width: auto;
			.navbar-toggler-icon {
				color: $color-navbar;
				font-size: 1rem;
				text-align: center;
				justify-content: center;
				font-weight: 200;
			}
		}
		.navbar-nav {
			align-content: center;
			text-align: center;

			.nav-item {
				.nav-link {
					font-size: 1.8rem;
					color: #5a493b;
					font-weight: 600;
					font-family: $fuente-navbar;
					&:hover {
						text-decoration: 0.5rem dotted #fff5cf underline;
						color: #fff5cf;
						border-color: #5a493b;
						
					}
				}
			}
		}
	}
	/*----------MAIN INDEX----------*/
	.mainIndex {
		background-image: url("https://images.pexels.com/photos/3219809/pexels-photo-3219809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		background-size: cover;
		height: auto;
		background-position-y: -80vh;
		background-repeat: no-repeat;
		.container-fluid {
			/*----------CAFE VARIOS IDIOMAS INDEX---------*/
			#spin {
				color: #fff5cf;
				font-size: 6rem;
				font-weight: 900;
				background-color: #806854;
				transition: 0.5s;
				p {
					margin-top: 10rem;
				}
			}
			#spin:after {
				content: "";
				animation: spin 50s linear infinite;
			}
			@keyframes spin {
				0% {
					content: "café☕";
				}
				5% {
					content: "coffee☕";
				}
				10% {
					content: "kafe☕";
				}
				15% {
					content: "kaffe☕";
				}
				20% {
					content: "kafés☕";
				}
				25% {
					content: "der Kaffee☕";
				}
				30% {
					content: "kaffii☕";
				}
				35% {
					content: "kahveh☕";
				}
				40% {
					content: "kawa☕";
				}
				45% {
					content: "koohii☕";
				}
				50% {
					content: "kohv☕";
				}
				55% {
					content: "qéhvé☕";
				}
				60% {
					content: "kofi☕";
				}
				70% {
					content: "kafea☕";
				}
				75% {
					content: "keopi☕";
				}
				80% {
					content: "kawah☕";
				}
				85% {
					content: "kape☕";
				}
				90% {
					content: "kafei☕";
				}
				95% {
					content: "kafija☕";
				}
				99% {
					content: "bunna☕";
				}
				100% {
					content: "☕";
				}
			}

			.img-responsive {
				max-width: 100%;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}
		}
		.btnIndexTienda {
			background-color: #806854;
			font-size: 1.5rem;
			color: $color-navbar;
			margin-top: 5rem;
			margin-bottom: 1rem;
			font-weight: 800;
			&:hover {
				background-color: $color-navbar;
				color: $color-principal;
			}
		}
	}
	/*------------------IMAGENES MINI GALERIA INDEX-------------------*/
	.sectionIndex {
		padding-top: 4vh;
		background-color: $color-section;
		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
		padding-bottom: 6vh;
		.h1Index {
			@include titulosSecciones($color-h1, $fuente);
			font-size: 4rem;
			font-weight: 600;
			align-items: center;
			text-align: center;
			margin: auto;
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
		.container {
			margin: 20px auto;
			.colImagen {
				.overlay {
					.tituloImagen {
						font-size: 1.4rem;
						background-color: $color-navbar;
						color: #413225;
						font-weight: 800;
						margin-bottom: 1rem;
						text-align: center;
					}
					.infoImagen {
						font-size: 1rem;
						.infoDestacada {
							background-color: $color-section;
							color: #413225;
						}
					}
				}
			}
		}
		p {
			margin: 0%;
			font-size: 0.8rem;
			font-weight: 600;
		}
		img.pic1 {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
		img.pic2 {
			width: 100%;
			height: 624px;
			object-fit: fill;
		}
		.image-top {
			position: relative;
			overflow: hidden;
			.overlay {
				position: absolute;
				bottom: 0px;
				width: 100%;
				padding: 15px 0 15px 15px;
				color: white;
				background-color: #413225;
			}
		}
		.image-middle {
			position: relative;
			overflow: hidden;
			.overlay {
				position: absolute;
				bottom: 0px;
				padding: 15px 0 15px 15px;
				width: 100%;
				color: white;
			}
		}
		.text-muted {
			color: #e5e2e2;
		}
	}
	/*------------------TESTIMONIOS INDEX----------------------*/
	.articleIndexTestimonios {
		font-family: "Lato", sans-serif;
		height: auto;
		padding-top: 2vh;
		padding-bottom: 10vh;
		background-color: $color-navbar;
		.h2Index {
			text-shadow: 0 0 1rem white;
			fill: linear-gradient(45deg, rgba(128,104,84,1) 44%, rgba(219,205,173,1) 94%);
			margin: auto;
			justify-content: center;
			text-align: center;
			color: #5a493b;
			font-weight: 800;
			text-decoration: underline 0.4rem dotted #806854;
			font-size: 2.7rem;
			margin-top: 3rem;
			margin-bottom: 3rem;
			letter-spacing: 0.5rem;
		}
		.card {
			border: none;
			background: rgb(128,104,84);
			background: linear-gradient(45deg, rgba(128,104,84,1) 0%, rgba(219,205,173,1) 38%);
			min-height: 30rem;

			.contenidoUsuario {
				h5 {
					margin-top: 1rem;
					margin-bottom: 1rem;
					font-weight: 600;
					span {
						font-weight: 400;
					}
				}
				p {
					font-family: $fuente;
					margin-top: 1rem;
					font-size: 1rem;
					font-weight: 600;
					text-align: justify;
					.experienciaDestacada {
						background-color: $color-navbar;
						color: #413225;
						font-style: normal;
					}
				}
			}

			.ratings i {
				margin-top: 2rem;
				color: white;
				border-color: 3px solid #413225;
				font-size: 1.5rem;
			}
		}
	}
	/*-------------------------FOOTER---------------------------*/
	.footer-section {
		background: #806854;
		position: relative;
		.container {
			margin-top: 0;
			.footer-content {
				position: relative;
				z-index: 2;
				.footer-widget {
					ul {
						margin: 0;
						padding: 0;
						margin-bottom: 2rem;
						display: flex;
						flex-direction: column;
						li {
							display: inline-block;
							width: 50%;
							a {
								&:hover {
									color: white;
									font-weight: 800;
									font-size: 1rem;
								}
								color: #fff5cf;
								font-family: $fuente-navbar;
								font-size: 1rem;
								font-weight: 600;
							}
						}
					}
					.footer-social-icon {
						margin-bottom: 1rem;
						span {
							color: #fff;
							display: block;
							font-size: 1rem;
							font-weight: 700;
							padding-bottom: 2rem;
						}
						a {
							color: #fff;
							font-size: 1.2rem;
							margin-right: 1rem;
						}
						i {
							height: 2.2rem;
							width: 2.2rem;
							text-align: center;
							line-height: 2rem;
							border-radius: 50%;
						}
						.facebook-bg,
						.twitter-bg,
						.google-bg {
							background: $color-navbar;
							&:hover {
								color: #413225;
							}
						}
					}
				}
				.footer-widget-heading {
					h3 {
						color: #fff;
						font-size: 1rem;
						font-weight: 600;
						margin-bottom: 3rem;
						position: relative;
						&::before {
							content: "";
							position: absolute;
							left: 0;
							bottom: -15px;
							height: 2px;
							width: 50px;
							background: $color-navbar;
						}
					}
				}
				.subscribe-form {
					position: relative;
					overflow: hidden;
					input {
						width: 100%;
						padding: 1rem 2rem;
						background: #2e2e2e;
						border: 1px solid #2e2e2e;
						color: #fff;
					}
					button {
						position: absolute;
						right: 0;
						background: $color-navbar;
						padding: 1rem 2rem;
						border: 1px solid $color-navbar;
						top: 0;
						i {
							color: #fff;
							font-size: 1rem;
							transform: rotate(-6deg);
						}
					}
				}
			}
		}
	}

	.copyright-area {
		background: #382e25;
		padding: 2rem 0;
		.copyright-text {
			p {
				text-align: center;
				justify-content: center;
				margin: auto;
				font-size: 1.5rem;
				color: white;
			}
			.devBy {
				margin-top: 2rem;
				color: $color-navbar;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					color: $color-navbar;

					&:hover {
						font-weight: 800;
					}
				}
			}
		}
	}
}

/*-----------------------------------NOSOTROS--------------------------------------*/
.body {
	.mainNosotros {
		background-color: $color-section;
		.contenedorNosotros {
			width: 100%;
			.titleNosotros {
				@include titulosSecciones($color-h1, $fuente);
				font-size: 4rem;
				font-weight: 600;
				align-items: center;
				text-align: center;
				margin: auto;
				padding-top: 2rem;
				margin-bottom: 2rem;
			}
			.rowImagenesNosotros {
				background-color: $color-navbar;
				.colTitulo1 {
					padding-top: 2rem;
					.h6Nosotros {
						@include titulosSecciones($color-h2, $fuente);
						letter-spacing: 0.5rem;
						font-size: 3rem;
						letter-spacing: 0.5rem;
						text-align: center;
						margin-bottom: 5vh;
						margin-top: 2rem;
					}
					.pNosotros {
						margin-left: 0.5rem;
						font-size: 1.6rem;
						text-align: justify;
						.infoDestacada {
							color: $color-section;
							background-color: #5a493b;
						}
					}
				}
				.colImagen1 {
					height: 25%;
					.img-responsive {
						margin-top: 2rem;
						width: 100%;
					}
				}
			}
			.rowImagenesNosotros2 {
				background-color: #b89272;
				.colImagen2 {
					height: 25%;
					.img-responsive {
						margin-top: 2rem;
						width: 100%;
						margin-bottom: 2rem;
					}
				}
				.colTitulo2 {
					padding-top: 2rem;
					.h6Nosotros {
						@include titulosSecciones($color-h2, $fuente);
						letter-spacing: 0.5rem;
						font-size: 3rem;
						text-align: center;
						margin: auto;
						margin-bottom: 5vh;
						margin-top: 2rem;
					}
					.pNosotros {
						font-size: 1.6rem;
						text-align: justify;
						margin-right: 0.5rem;
						.infoDestacada {
							color: $color-section;
							background-color: #5a493b;
							word-spacing: 0.5rem;
						}
					}
				}
			}
			.rowImagenesNosotros3 {
				background-color: #fff5cf;
				padding-bottom: 1rem;
				.colTitulo3 {
					padding-top: 2rem;
					.h6Nosotros {
						@include titulosSecciones($color-h2, $fuente);
						letter-spacing: 0.5rem;
						font-size: 3rem;
						letter-spacing: 0.5rem;
						text-align: center;
						margin-bottom: 5vh;
						margin-top: 2rem;
					}
					.pNosotros {
						font-size: 1.6rem;
						text-align: justify;
						.infoDestacada {
							background-color: $color-navbar;
							color: #413225;
							margin-bottom: 2rem;
						}
						a {
							text-decoration: none;
							background-color: $color-navbar;
							color: #413225;
							font-weight: 600;
						}
					}
					.listaTel {
						margin-bottom: 2rem;
						padding-top: 1rem;
						padding-left: 0;
						li {
							margin: 0;
							background-color: $color-navbar;
							list-style: none;
							font-size: 1.3rem;
							font-weight: 800;
							color: black;
							text-align: left;
							line-height: 3rem;
							text-decoration: 2px solid #413225 underline;
						}
					}
				}
				.colImagen3 {
					height: 15%;
					.img-responsive {
						margin-top: 2rem;
						width: 100%;
					}
				}
			}
		}
	}
}
.items {
	width: 90%;
	margin: 0px auto;
	margin-top: 100px;
}

.slick-slide {
	margin: 10px;
}

.slick-slide img {
	width: 100%;
	border: 0px solid #fff;
}
/*-------------------------------------TIENDAS------------------------------------------*/
.mainTiendas {
	background-color: $color-section;
	.row {
		.titleTiendas {
			@include titulosSecciones($color-h1, $fuente);
			margin: auto;
			text-align: center;
			margin-top: 2rem;
			margin-bottom: 2rem;
			font-size: 4rem;
		}
	}
	.contenedorCards {
		
		.lightbox-gallery {
			p {
				color: #fff;
			}
			.photos {
				padding-bottom: 1.5rem;
			}
			.item {
				padding-bottom: 30px;
				.footerTiendas {
					box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
					background-color: $color-navbar;
					min-height: 25vh;
					.nombreTienda {
						font-size: 2rem;
						color: #413225;
						text-align: center;
						font-weight: 600;
						text-decoration: 0.5rem dotted #5a493b underline;
						padding-top: 1rem;
					}
					.direccionTienda {
						font-size: 1.3rem;
						color: #5a493b;
						font-weight: 600;
						text-align: center;
					}
					.telTienda {
						font-size: 1rem;
						color: #5a493b;
						text-align: center;
						font-weight: bold;
					}
					.verMapaTienda{
						font-size: 1.2rem;
						color: #382e25;
						font-weight: 600;
						text-align: center;
						cursor: pointer;
						margin-bottom: 2rem;
					}
					
				}
			}
		}
		@media (max-width: 767px) {
			.lightbox-gallery {
				h2 {
					margin-bottom: 1rem;
					padding-top: 1rem;
					font-size: 1.1rem;
				}
			}
		}
	}
	.modalMapa {
		.modalMapaHeader {
			background-color: $color-navbar;
			color: #413225;
			#staticBackdropLabel {
				font-size: 1.2rem;
				font-weight: 800;
			}
		}
		.modalMapaBody {
			background-color: #413225;
		}
		.modalMapaFooter {
			background-color: $color-navbar;
		}
	}
}

/*--------------------------------------SHOP----------------------------------------*/
.mainShop {
	background-color: $color-section;
	.titleShop {
		@include titulosSecciones($color-h1, $fuente);
		margin: auto;
		text-align: center;
		justify-content: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
		font-size: 3rem;
	}
	.cardTienda {
		.cardBody {
			background-color: #413225;
			opacity: 0.9;
			color: $color-section;
			text-align: center;
			height: 20%;
			h3 {
				font-family: $fuente;
				font-size: 1.5rem;
				font-weight: 600;
			}
			.precioCard {
				font-size: 1.7rem;
				font-weight: 800;
				color: white;
				margin: 0;
				padding: 0;
			}
			.cantidadProducto {
				input {
					font-size: 1rem;
					font-weight: 800;
				}
			}
		}
		.card-footer {
			background-color: $color-navbar;
			opacity: 0.9;
			height: 30%;
			.btnComprar {
				text-align: center;
				margin: auto;
				justify-content: center;
				background-color: #413225;
				color: white;
				font-size: 0.8rem;
				font-weight: 600;
			}
		}
	}
	.modalCompra {
		.modalContent {
			background-color: $color-section;
			.modalHeader {
				background-color: $color-section;
				font-size: 1.2rem;
				text-align: center;
				font-weight: 600;
				margin: auto;
				color: $color-principal;
			}
			.modalBody {
				background-color: $color-section;
				font-family: $fuente;
				color: white;
				.px-4 {
					background-color: $color-principal;
				}
				.modal-footer {
					width: 100%;
					justify-content: center;
					.btnComprar {
						background-color: $color-navbar;
						color: white;
					}
				}
			}
		}
	}
}

/*------------------------------------CONTACTO---------------------------------*/

.mainContacto {
	width: 100%;
	height: auto;
	background-color: $color-section;
	.titleContacto {
		@include titulosSecciones($color-navbar, $fuente);
		margin: auto;
		text-align: center;
		justify-content: center;
		padding-top: 2rem;
		font-size: 4rem;
		margin-bottom: 4rem;
	}
	.row {
		.h2Contacto {
			text-align: center;
			font-size: 2.5rem;
			margin-bottom: 2rem;
			background-color: $color-navbar;
			font-weight: bold;
			color: #413225;
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		.h3Contacto {
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 2rem;
			background-color: $color-h2;
			color: $color-section;
			padding-top: 2rem;
			padding-bottom: 2rem;
			font-weight: 800;
			.infoDestacada{
				background-color: $color-navbar;
				color: #382e25;
			}
		}
	}
	.btnEscribinos {
		font-size: 2.5rem;
		text-align: center;
		justify-content: center;
		justify-items: center;
		content: "";
		margin: auto;
		margin-bottom: 4rem;
		background-color: $color-navbar;
		font-weight: 600;
		transition: 0.5s;
		color: #382e25;
		animation: cambiaColor 5s infinite;

		@keyframes cambiaColor {
			0% {
				background-color: $color-navbar;
				color: #382e25;
			}
			50% {
				background-color: #382e25;
				color: $color-navbar;
			}
		}
	}
	.modalEnvio {
		.modalHeaderEnvio {
			background-color: $color-navbar;
			color: #413225;
			.modalTituloEnvio {
				font-size: 1.5rem;
				text-transform: uppercase;
				font-weight: 800;
				text-align: center;
				justify-items: center;
				margin: auto;
			}
		}
		.modalBodyEnvio {
			background-color: #5a493b;
			.form-box {
				font-family: $fuente;
				max-width: 80vw;
				margin: auto;
				padding: 1rem;
				color: white;
				background: $color-principal;
				margin-bottom: 2rem;
				label{
					margin-bottom: 1rem;
					font-weight: 600;
				}
				.form-group{
					margin-bottom: 1rem;
				}
				textarea {
					width: 100%;
					margin-bottom: 2rem;
				}

				.btnEnviarFormulario {
					width: 100%;
					font-size: 1rem;
					font-weight: bold;
					background-color: $color-navbar;
					display: flex;
					text-align: center;
					justify-content: center;
					margin: auto;
					width: 25%;
					color: white;
					border-color: white;
					&:hover {
						background-color: white;
						color: $color-navbar;
						border-color: $color-navbar;
					}
				}
			}
		}
		.modalFooterEnvio {
			background-color: $color-navbar;
			.btnCerrarFormEnvio {
				background-color: #806854;
				color: white;
				font-weight: 600;
			}
		}
	}
}
