@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,900");
@import "https://fonts.googleapis.com/css?family=Montserrat";
/*-----------------MEDIA QUERY INDEX DISPOSITIVOS PEQUEÑOS-------------------*/
@media only screen and (max-width: 600px) {
  .body .navCustom .logo {
    font-size: 1.6rem; }
  .body .navCustom .navbar-toggler {
    width: auto; }
    .body .navCustom .navbar-toggler .navbar-toggler-icon {
      font-size: 1rem;
      font-weight: 600; }
  .body .navCustom .navbar-collapse .navbar-nav .nav-item a {
    font-size: 1.2rem; }
  .body .mainIndex {
    width: auto;
    height: auto; }
    .body .mainIndex .container-fluid {
      background-image: url("https://images.pexels.com/photos/3219809/pexels-photo-3219809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size: cover; }
      .body .mainIndex .container-fluid section .row .colPIndex p {
        margin-top: 2rem; }
        .body .mainIndex .container-fluid section .row .colPIndex p #spin {
          font-size: 3rem; }
      .body .mainIndex .container-fluid section .row .colPIndex .btnIndexTienda {
        font-size: 1rem; }
  .body .sectionIndex #titleIndex {
    font-size: 3rem; }
  .body .sectionIndex .container .row .colImagen .image-top .overlay .tituloImagen {
    font-size: 1rem; }
  .body .sectionIndex .container .row .colImagen .image-top .overlay .infoImagen {
    margin-right: 1rem;
    font-size: 0.8rem;
    text-align: justify; }
  .body .articleIndexTestimonios .container .row .h2Index {
    font-size: 1.6rem; }
  .body .articleIndexTestimonios .container .row .colTestimonios .card {
    min-height: 15vh; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .contenidoUsuario p {
      font-size: 0.8rem; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings {
      margin-top: 0; }
      .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings i {
        justify-content: flex-end; }
  .body .footer-section .copyright-area .copyright-text p {
    font-size: 0.8rem; } }

/*--------------TABLETS Y CELULARES MAYORES A 600px--------------*/
@media only screen and (min-width: 600px) {
  .body .navCustom .logo {
    font-size: 2rem; }
  .body .navCustom .navbar-toggler {
    width: auto; }
    .body .navCustom .navbar-toggler .navbar-toggler-icon {
      font-size: 1.2rem;
      font-weight: 600; }
  .body .navCustom .navbar-collapse .navbar-nav .nav-item a {
    font-size: 1.4rem; }
  .body .mainIndex {
    width: auto;
    height: auto; }
    .body .mainIndex .container-fluid {
      background-image: url("https://images.pexels.com/photos/3219809/pexels-photo-3219809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size: cover; }
      .body .mainIndex .container-fluid section .row .colPIndex p {
        margin-top: 2rem; }
        .body .mainIndex .container-fluid section .row .colPIndex p #spin {
          font-size: 3rem; }
      .body .mainIndex .container-fluid section .row .colPIndex .btnIndexTienda {
        font-size: 1rem; }
  .body .sectionIndex #titleIndex {
    font-size: 3rem; }
  .body .sectionIndex .container .row .colImagen .image-top .overlay .tituloImagen {
    font-size: 1.4rem; }
  .body .sectionIndex .container .row .colImagen .image-top .overlay .infoImagen {
    margin-right: 1rem;
    font-size: 0.8rem;
    text-align: justify; }
  .body .articleIndexTestimonios .container .row .h2Index {
    font-size: 2rem; }
  .body .articleIndexTestimonios .container .row .colTestimonios .card {
    min-height: 62vh; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .contenidoUsuario p {
      font-size: 1rem; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings {
      margin-top: 0; }
      .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings i {
        justify-content: flex-end; }
  .body .footer-section .copyright-area .copyright-text p {
    font-size: 0.8rem; } }

/*----------------LAPTOPS, PC, 992px----------------------------*/
@media only screen and (min-width: 992px) {
  .body .navCustom .logo {
    font-size: 2.2rem; }
  .body .navCustom .navbar-collapse .navbar-nav .nav-item a {
    font-size: 1.5rem; }
  .body .mainIndex {
    width: auto;
    height: auto; }
    .body .mainIndex .container-fluid {
      background-image: url("https://images.pexels.com/photos/3219809/pexels-photo-3219809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size: cover; }
      .body .mainIndex .container-fluid section .row .colPIndex p {
        margin-top: 2rem; }
        .body .mainIndex .container-fluid section .row .colPIndex p #spin {
          font-size: 4.5rem; }
      .body .mainIndex .container-fluid section .row .colPIndex .btnIndexTienda {
        font-size: 1.5rem; }
  .body .sectionIndex #titleIndex {
    font-size: 4.5rem; }
  .body .sectionIndex .container .row .colImagen .image-top .image-top {
    background-position-y: -40vh; }
    .body .sectionIndex .container .row .colImagen .image-top .image-top .overlay .tituloImagen {
      font-size: 1.5rem; }
    .body .sectionIndex .container .row .colImagen .image-top .image-top .overlay .infoImagen {
      margin-right: 1rem;
      font-size: 1rem;
      text-align: justify; }
  .body .articleIndexTestimonios .container .row .h2Index {
    font-size: 2.5rem;
    font-weight: 900; }
  .body .articleIndexTestimonios .container .row .colTestimonios .card {
    min-height: 62vh; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .contenidoUsuario p {
      font-size: 1rem;
      line-height: 1.7rem; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings {
      margin-top: 0; }
      .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings i {
        justify-content: flex-end; }
  .body .footer-section .copyright-area .copyright-text p {
    font-size: 0.8rem; } }

/*------------LAPTOPS Y MONITORES MAYORES A 1200px--------------*/
@media only screen and (min-width: 1200px) {
  .body .navCustom .logo {
    font-size: 3rem; }
  .body .navCustom .navbar-collapse .navbar-nav .nav-item a {
    font-size: 1.8rem; }
  .body .mainIndex {
    width: auto;
    height: auto; }
    .body .mainIndex .container-fluid {
      background-image: url("https://images.pexels.com/photos/3219809/pexels-photo-3219809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-size: cover; }
      .body .mainIndex .container-fluid section .row .colPIndex p {
        margin-top: 2rem; }
        .body .mainIndex .container-fluid section .row .colPIndex p #spin {
          font-size: 6rem; }
      .body .mainIndex .container-fluid section .row .colPIndex .btnIndexTienda {
        font-size: 1.8rem; }
  .body .sectionIndex #titleIndex {
    font-size: 6rem; }
  .body .sectionIndex .container .row .colImagen .image-top .image-top {
    background-position-y: -40vh; }
    .body .sectionIndex .container .row .colImagen .image-top .image-top .overlay .tituloImagen {
      font-size: 2rem; }
    .body .sectionIndex .container .row .colImagen .image-top .image-top .overlay .infoImagen {
      margin-right: 1rem;
      font-size: 2rem;
      text-align: justify; }
  .body .articleIndexTestimonios .container .row .h2Index {
    font-size: 3rem;
    font-weight: 900; }
  .body .articleIndexTestimonios .container .row .colTestimonios .card {
    min-height: 50vh; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .contenidoUsuario p {
      font-size: 1rem;
      line-height: 1.7rem; }
    .body .articleIndexTestimonios .container .row .colTestimonios .card .ratings {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      margin-bottom: 2rem;
      text-align: center;
      align-self: center; }
  .body .footer-section .copyright-area .copyright-text p {
    font-size: 0.8rem; } }

/*-----------------------------FIN MEDIA QUERY INDEX--------------------------*/
/*-----------------MEDIA QUERY NOSOTROS DISPOSITIVOS PEQUEÑOS-------------------*/
@media only screen and (max-width: 600px) {
  .mainNosotros .contenedorNosotros #titleNosotros {
    font-size: 3rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 {
    padding-top: 2rem; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 #h6Nosotros1 {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 2.3rem; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros1 {
      font-size: 1rem;
      font-weight: 400;
      text-align: justify; }
      .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros1 .infoDestacada {
        background-color: #5a493b;
        color: white; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colImagen1 {
    padding-bottom: 4rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colImagen2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #h6Nosotros2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.3rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #pNosotros2 {
    font-size: 1rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #h6Nosotros3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.3rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #pNosotros3 {
    font-size: 1rem; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #pNosotros3 .listaTel li {
      font-size: 1rem; } }

/*-----------------MEDIA QUERY NOSOTROS TABLETS Y CELULARES MAYORES A 600px -------------------*/
@media only screen and (min-width: 600px) {
  .mainNosotros .contenedorNosotros #titleNosotros {
    font-size: 4.5rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 #h6Nosotros1 {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-size: 3.5rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros1 {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros1 .infoDestacada {
      background-color: #5a493b;
      color: white; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colImagen1 {
    padding-bottom: 2rem;
    padding-top: 2rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colImagen2 {
    margin-top: 2rem;
    padding-bottom: 2rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 {
    padding-top: 3rem; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #h6Nosotros2 {
      font-size: 3.5rem; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #pNosotros2 {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: justify; }
      .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #pNosotros2 .infoDestacada {
        background-color: #5a493b;
        color: white; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #h6Nosotros3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3.5rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #pNosotros3 {
    font-size: 1.4rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colImagen3 {
    padding-top: 3rem; } }

/*-----------------MEDIA QUERY NOSOTROS TABLETS Y CELULARES MAYORES A 600px -------------------*/
@media only screen and (min-width: 1200px) {
  .mainNosotros .contenedorNosotros #titleNosotros {
    font-size: 6rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 #h6Nosotros1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros1 {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: justify; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros1 .infoDestacada {
      background-color: #5a493b;
      color: white; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros .colImagen1 {
    padding-bottom: 2rem;
    padding-top: 2rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colImagen2 {
    margin-top: 2rem;
    padding-bottom: 2rem; }
    .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colImagen2 .img-resposive {
      margin-top: 3rem;
      margin-bottom: 3vh; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #h6Nosotros2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 #pNosotros2 {
    margin-right: 2rem;
    font-size: 1.8rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #h6Nosotros3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 #pNosotros3 {
    font-size: 1.8rem; }
  .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colImagen3 {
    padding-top: 3rem; } }

/*-----------------MEDIA QUERY SHOP DISPOSITIVOS PEQUEÑOS-------------------*/
@media screen and (max-width: 600px) {
  .mainShop #titleShop {
    font-size: 3.5rem; }
  .mainShop .row .cardTienda .cardBody {
    min-height: 20vh; }
    .mainShop .row .cardTienda .cardBody .cards-title .h3 {
      font-size: 2rem;
      font-weight: 800; }
    .mainShop .row .cardTienda .cardBody .row .precioCard {
      font-size: 2rem;
      padding-bottom: 1rem; }
  .mainShop .row .cardTienda .card-footer .btnComprar {
    font-size: 1.5rem; } }

/*------------------MEDIA QUERY SHOP DISPOSITIVOS MEDIANOS (CELUALRES TABLET-----------*/
@media screen and (min-width: 600px) {
  .mainShop #titleShop {
    font-size: 4.5rem; }
  .mainShop .row .cardTienda .cardBody {
    min-height: 34vh; }
    .mainShop .row .cardTienda .cardBody .cards-title .h3 {
      padding-top: 5rem;
      font-size: 2.2rem;
      font-weight: 800; }
    .mainShop .row .cardTienda .cardBody .row .precioCard {
      font-size: 2rem;
      padding-bottom: 1rem; }
  .mainShop .row .cardTienda .card-footer .btnComprar {
    font-size: 1.5rem; } }

/*--------------------MEDIA QUERY SHOP DISPOSITIVOS GRANDES >1200px----------------*/
@media screen and (min-width: 1200px) {
  .mainShop #titleShop {
    font-size: 6rem; }
  .mainShop .row .cardTienda .cardBody {
    padding: 0;
    margin: 0;
    min-height: 36vh; }
    .mainShop .row .cardTienda .cardBody .cards-title .h3 {
      padding-top: 5rem;
      font-size: 2rem;
      font-weight: 800; }
    .mainShop .row .cardTienda .cardBody .row .precioCard {
      font-size: 2rem;
      padding-bottom: 1rem; }
  .mainShop .row .cardTienda .card-footer .btnComprar {
    font-size: 1.5rem; } }

/*-----------------MEDIA QUERY TIENDAS DISPOSITIVOS PEQUEÑOS---------*/
@media only screen and (max-width: 600px) {
  .mainTiendas .row #titleTiendas {
    font-size: 3rem; } }

/*--------------------MEDIA QUERY TIENDAS DISPOSITIVOS MEDIANOS (TABLET, CELULARES >600px-----------------*/
@media only screen and (min-width: 600px) {
  .mainTiendas .row #titleTiendas {
    font-size: 4.5rem; } }

@media only screen and (min-width: 1200px) {
  .mainTiendas .row #titleTiendas {
    font-size: 6rem; } }

/*-----------------MEDIA QUERY CONTACTO 320px-------------------*/
@media screen and (min-width: 280px) and (max-width: 320px) {
  .mainContacto .containerFormContacto .titleContacto {
    font-size: 3rem; }
  .mainContacto .containerFormContacto .row .btnEscribinos {
    font-size: 1.5rem; }
  .mainContacto .modalEnvio {
    overflow-y: auto; }
    .mainContacto .modalEnvio .modalHeaderEnvio .modalTituloEnvio {
      font-size: 1rem; } }

/*-----------------MEDIA QUERY CONTACTO 375px-------------------*/
@media screen and (max-width: 375px) {
  .mainContacto .containerFormContacto .titleContacto {
    font-size: 3rem; }
  .mainContacto .containerFormContacto .row .btnEscribinos {
    font-size: 2rem; }
  .mainContacto .modalEnvio {
    overflow-y: auto; }
    .mainContacto .modalEnvio .modalHeaderEnvio .modalTituloEnvio {
      font-size: 1rem; } }

/*-----------------MEDIA QUERY CONTACTO 425px-------------------*/
@media screen and (max-width: 425px) {
  .mainContacto .containerFormContacto .titleContacto {
    font-size: 3rem; }
  .mainContacto .containerFormContacto .row .btnEscribinos {
    font-size: 2.2rem; }
  .mainContacto .modalEnvio {
    overflow-y: auto; }
    .mainContacto .modalEnvio .modalHeaderEnvio .modalTituloEnvio {
      font-size: 1rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

/*-----------------MIXIN TITULO-------------------*/
/*--------------------BREADCRUMBS-----------------*/
.navBreadcrumb {
  padding-left: 2vw;
  background-color: #806854;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 600; }
  .navBreadcrumb .breadcrumbItem a {
    color: #A8BAA9; }
  .navBreadcrumb .breadcrumbItemActive a {
    color: white; }

/*--------------------------------------------*/
body {
  /*--------------------------NAVBAR------------------------*/
  /*----------MAIN INDEX----------*/
  /*------------------IMAGENES MINI GALERIA INDEX-------------------*/
  /*------------------TESTIMONIOS INDEX----------------------*/
  /*-------------------------FOOTER---------------------------*/ }
  body .navCustom {
    background-image: linear-gradient(to left, #A8BAA9 50%, #A8BAA9);
    z-index: 2000;
    justify-content: center;
    /*------------------------LOGO-------------------------*/ }
    body .navCustom .logo {
      transform: translate(50%, -50%);
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: #413225;
      text-decoration: none;
      text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 5px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4); }
      body .navCustom .logo:hover {
        text-decoration: none;
        color: #413225; }
    body .navCustom .navbar-toggler {
      background-color: #7e6e59;
      width: auto; }
      body .navCustom .navbar-toggler .navbar-toggler-icon {
        color: #A8BAA9;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        font-weight: 200; }
    body .navCustom .navbar-nav {
      align-content: center;
      text-align: center; }
      body .navCustom .navbar-nav .nav-item .nav-link {
        font-size: 1.8rem;
        color: #5a493b;
        font-weight: 600;
        font-family: "Lato", sans-serif; }
        body .navCustom .navbar-nav .nav-item .nav-link:hover {
          text-decoration: 0.5rem dotted #FFF5CF underline;
          color: #FFF5CF;
          border-color: #5a493b; }
  body .mainIndex {
    background-image: url("https://images.pexels.com/photos/3219809/pexels-photo-3219809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    height: auto;
    background-position-y: -80vh;
    background-repeat: no-repeat; }
    body .mainIndex .container-fluid {
      /*----------CAFE VARIOS IDIOMAS INDEX---------*/ }
      body .mainIndex .container-fluid #spin {
        color: #FFF5CF;
        font-size: 6rem;
        font-weight: 900;
        background-color: #806854;
        transition: 0.5s; }
        body .mainIndex .container-fluid #spin p {
          margin-top: 10rem; }
      body .mainIndex .container-fluid #spin:after {
        content: "";
        animation: spin 50s linear infinite; }

@keyframes spin {
  0% {
    content: "café☕"; }
  5% {
    content: "coffee☕"; }
  10% {
    content: "kafe☕"; }
  15% {
    content: "kaffe☕"; }
  20% {
    content: "kafés☕"; }
  25% {
    content: "der Kaffee☕"; }
  30% {
    content: "kaffii☕"; }
  35% {
    content: "kahveh☕"; }
  40% {
    content: "kawa☕"; }
  45% {
    content: "koohii☕"; }
  50% {
    content: "kohv☕"; }
  55% {
    content: "qéhvé☕"; }
  60% {
    content: "kofi☕"; }
  70% {
    content: "kafea☕"; }
  75% {
    content: "keopi☕"; }
  80% {
    content: "kawah☕"; }
  85% {
    content: "kape☕"; }
  90% {
    content: "kafei☕"; }
  95% {
    content: "kafija☕"; }
  99% {
    content: "bunna☕"; }
  100% {
    content: "☕"; } }
      body .mainIndex .container-fluid .img-responsive {
        max-width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; }
    body .mainIndex .btnIndexTienda {
      background-color: #806854;
      font-size: 1.5rem;
      color: #A8BAA9;
      margin-top: 5rem;
      margin-bottom: 1rem;
      font-weight: 800; }
      body .mainIndex .btnIndexTienda:hover {
        background-color: #A8BAA9;
        color: #806854; }
  body .sectionIndex {
    padding-top: 2vh;
    background-color: #DBCDAD;
    padding-bottom: 10vh; }
    body .sectionIndex .h1Index {
      color: #806854;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      color: #413225;
      text-decoration: none;
      text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
      font-size: 4rem;
      font-weight: 600;
      align-items: center;
      text-align: center;
      margin: auto;
      margin-bottom: 3rem;
      margin-top: 3rem; }
    body .sectionIndex .container {
      margin: 20px auto; }
      body .sectionIndex .container .colImagen .overlay .tituloImagen {
        font-size: 1.4rem;
        background-color: #A8BAA9;
        color: #413225;
        font-weight: 800;
        margin-bottom: 1rem;
        text-align: center; }
      body .sectionIndex .container .colImagen .overlay .infoImagen {
        font-size: 1rem; }
        body .sectionIndex .container .colImagen .overlay .infoImagen .infoDestacada {
          background-color: #DBCDAD;
          color: #413225; }
    body .sectionIndex p {
      margin: 0%;
      font-size: 0.8rem;
      font-weight: 600; }
    body .sectionIndex img.pic1 {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    body .sectionIndex img.pic2 {
      width: 100%;
      height: 624px;
      object-fit: fill; }
    body .sectionIndex .image-top {
      position: relative;
      overflow: hidden; }
      body .sectionIndex .image-top .overlay {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 15px 0 15px 15px;
        color: white;
        background-color: #413225; }
    body .sectionIndex .image-middle {
      position: relative;
      overflow: hidden; }
      body .sectionIndex .image-middle .overlay {
        position: absolute;
        bottom: 0px;
        padding: 15px 0 15px 15px;
        width: 100%;
        color: white; }
    body .sectionIndex .text-muted {
      color: #e5e2e2; }
  body .articleIndexTestimonios {
    font-family: "Lato", sans-serif;
    background-color: #A8BAA9;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 10vh; }
    body .articleIndexTestimonios .h2Index {
      margin: auto;
      justify-content: center;
      text-align: center;
      color: #7e6e59;
      font-weight: 800;
      text-decoration: underline 0.3rem dotted #7e6e59;
      font-size: 2.5rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      letter-spacing: 0.5rem; }
    body .articleIndexTestimonios .card {
      border: none;
      background-color: #DBCDAD;
      min-height: 30rem; }
      body .articleIndexTestimonios .card .contenidoUsuario h5 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 600; }
        body .articleIndexTestimonios .card .contenidoUsuario h5 span {
          font-weight: 400; }
      body .articleIndexTestimonios .card .contenidoUsuario p {
        font-family: "Heebo", sans-serif;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: justify; }
        body .articleIndexTestimonios .card .contenidoUsuario p .experienciaDestacada {
          background-color: #A8BAA9;
          color: #413225;
          font-style: normal; }
      body .articleIndexTestimonios .card .ratings i {
        margin-top: 2rem;
        color: #806854; }
  body .footer-section {
    background: #806854;
    position: relative; }
    body .footer-section .container {
      margin-top: 0; }
      body .footer-section .container .footer-content {
        position: relative;
        z-index: 2; }
        body .footer-section .container .footer-content .footer-widget ul {
          margin: 0;
          padding: 0;
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column; }
          body .footer-section .container .footer-content .footer-widget ul li {
            display: inline-block;
            width: 50%; }
            body .footer-section .container .footer-content .footer-widget ul li a {
              color: #FFF5CF;
              font-family: "Lato", sans-serif;
              font-size: 1rem;
              font-weight: 600; }
              body .footer-section .container .footer-content .footer-widget ul li a:hover {
                color: white;
                font-weight: 800;
                font-size: 1rem; }
        body .footer-section .container .footer-content .footer-widget .footer-social-icon {
          margin-bottom: 1rem; }
          body .footer-section .container .footer-content .footer-widget .footer-social-icon span {
            color: #fff;
            display: block;
            font-size: 1rem;
            font-weight: 700;
            padding-bottom: 2rem; }
          body .footer-section .container .footer-content .footer-widget .footer-social-icon a {
            color: #fff;
            font-size: 1.2rem;
            margin-right: 1rem; }
          body .footer-section .container .footer-content .footer-widget .footer-social-icon i {
            height: 2.2rem;
            width: 2.2rem;
            text-align: center;
            line-height: 2rem;
            border-radius: 50%; }
          body .footer-section .container .footer-content .footer-widget .footer-social-icon .facebook-bg, body .footer-section .container .footer-content .footer-widget .footer-social-icon .twitter-bg, body .footer-section .container .footer-content .footer-widget .footer-social-icon .google-bg {
            background: #A8BAA9; }
            body .footer-section .container .footer-content .footer-widget .footer-social-icon .facebook-bg:hover, body .footer-section .container .footer-content .footer-widget .footer-social-icon .twitter-bg:hover, body .footer-section .container .footer-content .footer-widget .footer-social-icon .google-bg:hover {
              color: #413225; }
        body .footer-section .container .footer-content .footer-widget-heading h3 {
          color: #fff;
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 3rem;
          position: relative; }
          body .footer-section .container .footer-content .footer-widget-heading h3::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -15px;
            height: 2px;
            width: 50px;
            background: #A8BAA9; }
        body .footer-section .container .footer-content .subscribe-form {
          position: relative;
          overflow: hidden; }
          body .footer-section .container .footer-content .subscribe-form input {
            width: 100%;
            padding: 1rem 2rem;
            background: #2E2E2E;
            border: 1px solid #2E2E2E;
            color: #fff; }
          body .footer-section .container .footer-content .subscribe-form button {
            position: absolute;
            right: 0;
            background: #A8BAA9;
            padding: 1rem 2rem;
            border: 1px solid #A8BAA9;
            top: 0; }
            body .footer-section .container .footer-content .subscribe-form button i {
              color: #fff;
              font-size: 1rem;
              transform: rotate(-6deg); }
  body .copyright-area {
    background: #382e25;
    padding: 2rem 0; }
    body .copyright-area .copyright-text p {
      text-align: center;
      justify-content: center;
      margin: auto;
      font-size: 1rem;
      color: white; }
    body .copyright-area .copyright-text .devBy {
      margin-top: 2rem;
      color: #A8BAA9; }
      body .copyright-area .copyright-text .devBy a {
        text-decoration: none;
        color: #A8BAA9; }
        body .copyright-area .copyright-text .devBy a:hover {
          font-weight: 800; }

/*-----------------------------------NOSOTROS--------------------------------------*/
.body .mainNosotros {
  background-color: #DBCDAD; }
  .body .mainNosotros .contenedorNosotros {
    width: 100%; }
    .body .mainNosotros .contenedorNosotros .titleNosotros {
      color: #806854;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      color: #413225;
      text-decoration: none;
      text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
      font-size: 4rem;
      font-weight: 600;
      align-items: center;
      text-align: center;
      margin: auto;
      padding-top: 2rem;
      margin-bottom: 2rem; }
    .body .mainNosotros .contenedorNosotros .rowImagenesNosotros {
      background-color: #A8BAA9; }
      .body .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 {
        padding-top: 2rem; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .h6Nosotros {
          color: #7e6e59;
          text-transform: uppercase;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          color: #413225;
          text-decoration: none;
          text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
          letter-spacing: 0.5rem;
          font-size: 3rem;
          letter-spacing: 0.5rem;
          text-align: center;
          margin-bottom: 5vh;
          margin-top: 2rem; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros {
          margin-left: 0.5rem;
          font-size: 1.6rem;
          text-align: justify; }
          .body .mainNosotros .contenedorNosotros .rowImagenesNosotros .colTitulo1 .pNosotros .infoDestacada {
            color: #DBCDAD;
            background-color: #5a493b; }
      .body .mainNosotros .contenedorNosotros .rowImagenesNosotros .colImagen1 {
        height: 25%; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros .colImagen1 .img-responsive {
          margin-top: 2rem;
          width: 100%; }
    .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 {
      background-color: #b89272; }
      .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colImagen2 {
        height: 25%; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colImagen2 .img-responsive {
          margin-top: 2rem;
          width: 100%;
          margin-bottom: 2rem; }
      .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 {
        padding-top: 2rem; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 .h6Nosotros {
          color: #7e6e59;
          text-transform: uppercase;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          color: #413225;
          text-decoration: none;
          text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
          letter-spacing: 0.5rem;
          font-size: 3rem;
          text-align: center;
          margin: auto;
          margin-bottom: 5vh;
          margin-top: 2rem; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 .pNosotros {
          font-size: 1.6rem;
          text-align: justify;
          margin-right: 0.5rem; }
          .body .mainNosotros .contenedorNosotros .rowImagenesNosotros2 .colTitulo2 .pNosotros .infoDestacada {
            color: #DBCDAD;
            background-color: #5a493b;
            word-spacing: 0.5rem; }
    .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 {
      padding-bottom: 1rem; }
      .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 {
        padding-top: 2rem; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 .h6Nosotros {
          color: #7e6e59;
          text-transform: uppercase;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          color: #413225;
          text-decoration: none;
          text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
          letter-spacing: 0.5rem;
          font-size: 3rem;
          letter-spacing: 0.5rem;
          text-align: center;
          background-color: #DBCDAD;
          margin-bottom: 5vh;
          margin-top: 2rem; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 .pNosotros {
          font-size: 1.6rem;
          text-align: justify; }
          .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 .pNosotros .infoDestacada {
            color: #DBCDAD;
            background-color: #5a493b;
            margin-bottom: 2rem; }
            .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 .pNosotros .infoDestacada a {
              color: #A8BAA9; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 .listaTel {
          margin-bottom: 2rem;
          padding-top: 1rem;
          padding-left: 0; }
          .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colTitulo3 .listaTel li {
            margin: 0;
            list-style: none;
            font-size: 1.3rem;
            font-weight: 600;
            background-color: #A8BAA9;
            color: black; }
      .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colImagen3 {
        height: 15%; }
        .body .mainNosotros .contenedorNosotros .rowImagenesNosotros3 .colImagen3 .img-responsive {
          margin-top: 2rem;
          width: 100%; }

/*-------------------------------------TIENDAS------------------------------------------*/
.mainTiendas {
  background-color: #DBCDAD; }
  .mainTiendas .row .titleTiendas {
    color: #806854;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #413225;
    text-decoration: none;
    text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem; }
  .mainTiendas .contenedorCards .lightbox-gallery p {
    color: #fff; }
  .mainTiendas .contenedorCards .lightbox-gallery .photos {
    padding-bottom: 20px; }
  .mainTiendas .contenedorCards .lightbox-gallery .item {
    padding-bottom: 30px; }
    .mainTiendas .contenedorCards .lightbox-gallery .item .footerTiendas {
      background-color: #A8BAA9;
      min-height: 25vh; }
      .mainTiendas .contenedorCards .lightbox-gallery .item .footerTiendas .nombreTienda {
        font-size: 2rem;
        color: #413225;
        text-align: center;
        font-weight: 600;
        text-decoration: .5rem dotted #5a493b underline;
        margin-bottom: 2rem; }
      .mainTiendas .contenedorCards .lightbox-gallery .item .footerTiendas .direccionTienda {
        font-size: 1.3rem;
        color: #5a493b;
        font-weight: 600;
        text-align: center; }
      .mainTiendas .contenedorCards .lightbox-gallery .item .footerTiendas .telTienda {
        font-size: 1rem;
        color: #5a493b;
        text-align: center;
        font-weight: bold; }
      .mainTiendas .contenedorCards .lightbox-gallery .item .footerTiendas .btnMapaModal {
        text-align: center;
        display: flex;
        margin: auto;
        background-color: #5a493b;
        justify-content: flex-end; }
  @media (max-width: 767px) {
    .mainTiendas .contenedorCards .lightbox-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px; } }
  .mainTiendas .modalMapa .modalMapaHeader {
    background-color: #A8BAA9;
    color: #413225; }
    .mainTiendas .modalMapa .modalMapaHeader #staticBackdropLabel {
      font-size: 1.2rem;
      font-weight: 800; }
  .mainTiendas .modalMapa .modalMapaBody {
    background-color: #413225; }
  .mainTiendas .modalMapa .modalMapaFooter {
    background-color: #A8BAA9; }

/*--------------------------------------SHOP----------------------------------------*/
.mainShop {
  background-color: #DBCDAD; }
  .mainShop .titleShop {
    color: #806854;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #413225;
    text-decoration: none;
    text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3rem; }
  .mainShop .cardTienda .cardBody {
    background-color: #413225;
    opacity: .9;
    color: #DBCDAD;
    text-align: center;
    height: 20%; }
    .mainShop .cardTienda .cardBody h3 {
      font-family: "Heebo", sans-serif;
      font-size: 1.5rem;
      font-weight: 600; }
    .mainShop .cardTienda .cardBody .precioCard {
      font-size: 1.7rem;
      font-weight: 800;
      color: white;
      margin: 0;
      padding: 0; }
    .mainShop .cardTienda .cardBody .cantidadProducto input {
      font-size: 1rem;
      font-weight: 800; }
  .mainShop .cardTienda .card-footer {
    background-color: #A8BAA9;
    opacity: 0.9; }
    .mainShop .cardTienda .card-footer .btnComprar {
      text-align: center;
      margin: auto;
      justify-content: center;
      background-color: #413225;
      color: white;
      font-size: 1rem;
      font-weight: 600; }
  .mainShop .modalCompra .modalContent {
    background-color: #DBCDAD; }
    .mainShop .modalCompra .modalContent .modalHeader {
      background-color: #DBCDAD;
      font-size: 1.2rem;
      text-align: center;
      font-weight: 600;
      margin: auto;
      color: #806854; }
    .mainShop .modalCompra .modalContent .modalBody {
      background-color: #DBCDAD;
      font-family: "Heebo", sans-serif;
      color: white; }
      .mainShop .modalCompra .modalContent .modalBody .px-4 {
        background-color: #806854; }
      .mainShop .modalCompra .modalContent .modalBody .modal-footer {
        width: 100%;
        justify-content: center; }
        .mainShop .modalCompra .modalContent .modalBody .modal-footer .btnComprar {
          background-color: #A8BAA9;
          color: white; }

/*------------------------------------CONTACTO---------------------------------*/
.mainContacto {
  width: 100%;
  height: auto;
  background-color: #DBCDAD; }
  .mainContacto .titleContacto {
    color: #A8BAA9;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #413225;
    text-decoration: none;
    text-shadow: 1px 1px 1px #f1efe9, 1px 2px 1px #f1efe9, 1px 3px 1px #f1efe9, 1px 4px 1px #f1efe9, 1px 18px 6px rgba(16, 16, 16, 0.4);
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 4rem;
    margin-bottom: 4rem; }
  .mainContacto .btnEscribinos {
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 4rem;
    background-color: #A8BAA9;
    font-weight: 600;
    transition: .5s;
    color: white; }
    .mainContacto .btnEscribinos:hover {
      background-color: #413225;
      color: #A8BAA9;
      transition: .5s;
      letter-spacing: .3rem; }
  .mainContacto .modalEnvio .modalHeaderEnvio {
    background-color: #A8BAA9;
    color: #413225; }
    .mainContacto .modalEnvio .modalHeaderEnvio .modalTituloEnvio {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      justify-items: center;
      margin: auto; }
  .mainContacto .modalEnvio .modalBodyEnvio {
    background-color: #5a493b; }
    .mainContacto .modalEnvio .modalBodyEnvio .form-box {
      font-family: "Heebo", sans-serif;
      max-width: 80vw;
      margin: auto;
      padding: 1rem;
      color: white;
      background: #806854;
      margin-bottom: 2rem; }
      .mainContacto .modalEnvio .modalBodyEnvio .form-box textarea {
        width: 100%;
        margin-bottom: 2rem; }
      .mainContacto .modalEnvio .modalBodyEnvio .form-box .btnEnviarFormulario {
        width: 100%;
        font-size: 1rem;
        background-color: #A8BAA9;
        color: white;
        border-color: white;
        justify-items: center; }
        .mainContacto .modalEnvio .modalBodyEnvio .form-box .btnEnviarFormulario:hover {
          background-color: white;
          color: #A8BAA9;
          border-color: #A8BAA9; }
  .mainContacto .modalEnvio .modalFooterEnvio {
    background-color: #A8BAA9; }
    .mainContacto .modalEnvio .modalFooterEnvio .btnCerrarFormEnvio {
      background-color: #806854;
      color: white;
      font-weight: 600; }
