@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap";
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,900");
/*----------MQ Index----------*/
@media screen and (max-width: 320px) {
  .navbar-light {
    width: 100%; }
    .navbar-light .container-fluid {
      width: 100%; }
      .navbar-light .container-fluid .logoNeon {
        margin: 0;
        font-size: 1.5rem; }
      .navbar-light .container-fluid .navbar-toggler {
        background-color: #D9A036;
        width: 15%; }
        .navbar-light .container-fluid .navbar-toggler .navbar-toggler-icon {
          text-align: center;
          font-size: 0.5rem; }
      .navbar-light .container-fluid .navbar-collapse .nav-item .nav-link {
        font-size: 1.3rem; }
  .mainIndex .wrapper p {
    font-size: 1.5rem; }
  .sectionIndex {
    height: auto; }
    .sectionIndex .h1Index {
      font-size: 2rem !important; }
  .articleIndexTestimonios .h2Index {
    font-size: 1.8rem !important; }
  .footer-dark h3 {
    text-align: center;
    margin: auto;
    justify-content: center; }
  .footer-dark .card .btn-light {
    font-size: 1rem; }
  .footer-dark .card .btn {
    font-size: 1rem;
    width: 100%;
    padding: 0.4rem; } }

@media screen and (max-width: 375px) {
  .navbar-light {
    width: 100%; }
    .navbar-light .container-fluid {
      width: 100%; }
      .navbar-light .container-fluid .logoNeon {
        font-size: 1.5rem; }
      .navbar-light .container-fluid .navbar-toggler {
        background-color: #D9A036;
        margin-right: 1rem; }
        .navbar-light .container-fluid .navbar-toggler .navbar-toggler-icon {
          font-size: 0.8rem; }
      .navbar-light .container-fluid .navbar-collapse .nav-item .nav-link {
        font-size: 1.3rem; } }

.mainIndex .wrapper p {
  font-size: 2rem; }

.sectionIndex {
  height: auto; }
  .sectionIndex .h1Index {
    font-size: 2rem !important; }

.articleIndexTestimonios .h2Index {
  font-size: 1.8rem !important; }

.footer-dark h3 {
  text-align: center;
  margin: auto;
  justify-content: center; }

.footer-dark .card .btn-light {
  font-size: 1rem; }

.footer-dark .card .btn {
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem; }

@media screen and (max-width: 425px) {
  .navbar-light {
    width: 100%; }
    .navbar-light .container-fluid {
      width: 100%; }
      .navbar-light .container-fluid .logoNeon {
        font-size: 1.5rem; }
      .navbar-light .container-fluid .navbar-toggler {
        background-color: #D9A036;
        margin-right: 1rem; }
        .navbar-light .container-fluid .navbar-toggler .navbar-toggler-icon {
          font-size: 0.8rem; }
      .navbar-light .container-fluid .navbar-collapse .nav-item .nav-link {
        font-size: 1.3rem; } }

.mainIndex .wrapper p {
  font-size: 2rem; }

.sectionIndex {
  height: auto; }
  .sectionIndex .h1Index {
    font-size: 2.5rem !important; }

.articleIndexTestimonios .h2Index {
  font-size: 2rem !important; }

.footer-dark h3 {
  text-align: center;
  margin: auto;
  justify-content: center; }

.footer-dark .card .btn-light {
  font-size: 1rem; }

.footer-dark .card .btn {
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem; }

@media screen and (max-width: 768px) {
  .navbar-light {
    width: 100%; }
    .navbar-light .container-fluid {
      width: 100%; }
      .navbar-light .container-fluid .logoNeon {
        font-size: 1.6rem; }
      .navbar-light .container-fluid .navbar-toggler {
        background-color: #D9A036;
        margin-right: 1rem; }
        .navbar-light .container-fluid .navbar-toggler .navbar-toggler-icon {
          font-size: 0.8rem; }
      .navbar-light .container-fluid .navbar-collapse .nav-item .nav-link {
        font-size: 1.3rem; } }

.mainIndex .wrapper p {
  font-size: 2rem; }

.sectionIndex {
  height: auto; }
  .sectionIndex .h1Index {
    font-size: 2rem !important; }

.articleIndexTestimonios .h2Index {
  font-size: 2rem !important; }

.footer-dark h3 {
  text-align: center;
  margin: auto;
  justify-content: center; }

.footer-dark .card .btn-light {
  font-size: 1rem; }

.footer-dark .card .btn {
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem; }

@media screen and (max-width: 1024px) {
  .navbar-light {
    width: 100%; }
    .navbar-light .container-fluid {
      width: 100%; }
      .navbar-light .container-fluid .logoNeon {
        font-size: 1.6rem; }
      .navbar-light .container-fluid .navbar-toggler {
        background-color: #D9A036;
        margin-right: 1rem; }
        .navbar-light .container-fluid .navbar-toggler .navbar-toggler-icon {
          font-size: 0.8rem; }
      .navbar-light .container-fluid .navbar-collapse .nav-item .nav-link {
        font-size: 1.3rem; } }

.mainIndex .wrapper p {
  font-size: 4rem; }

.sectionIndex {
  height: auto; }
  .sectionIndex .h1Index {
    font-size: 2rem !important; }

.articleIndexTestimonios .h2Index {
  font-size: 2rem !important; }

.footer-dark h3 {
  text-align: center;
  margin: auto;
  justify-content: center; }

.footer-dark .card .btn-light {
  font-size: 1rem; }

.footer-dark .card .btn {
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem; }

@media screen and (max-width: 1440px) {
  .navbar-light {
    width: 100%; }
    .navbar-light .container-fluid {
      width: 100%; }
      .navbar-light .container-fluid .logoNeon {
        font-size: 1.6rem; }
      .navbar-light .container-fluid .navbar-toggler {
        background-color: #D9A036;
        margin-right: 1rem; }
        .navbar-light .container-fluid .navbar-toggler .navbar-toggler-icon {
          font-size: 0.8rem; }
      .navbar-light .container-fluid .navbar-collapse .nav-item .nav-link {
        font-size: 1.3rem; } }

.sectionIndex {
  height: auto; }
  .sectionIndex .h1Index {
    font-size: 2rem !important; }

.articleIndexTestimonios .h2Index {
  font-size: 2rem !important; }

.footer-dark h3 {
  text-align: center;
  margin: auto;
  justify-content: center; }

.footer-dark .card .btn-light {
  font-size: 1rem; }

.footer-dark .card .btn {
  font-size: 1rem;
  width: 100%;
  padding: 0.4rem; }

/*---------------MQ CAROUSEL INICIO----------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
  .iamCol {
    text-align: center;
    font-size: 20pt; }
  .iamCol p {
    display: inline !important; }
  .slideCol {
    font-size: 25pt;
    text-align: center;
    margin-top: -20px; } }

@media only screen and (min-width: 480px) and (max-width: 765px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
  .iamCol {
    text-align: center;
    font-size: 25pt; }
  .iamCol p {
    display: inline !important; }
  .slideCol {
    font-size: 38pt;
    text-align: center;
    margin-top: -20px; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
  .iamCol {
    text-align: center;
    font-size: 30pt; }
  .iamCol p {
    display: inline !important; }
  .slideCol {
    font-size: 50pt;
    text-align: center;
    margin-top: 5px; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #textSlider.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
  .iamCol {
    text-align: right;
    font-size: 30pt; }
  .slideCol {
    font-size: 55pt;
    text-align: left; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%;
  font-family: "Heebo", sans-serif; }

/*-----------------MIXIN TITULO-------------------*/
/*--------------------BREADCRUMBS-----------------*/
.navBreadcrumb {
  padding-left: 2vw;
  background-color: #593636;
  font-family: "Heebo", sans-serif;
  font-size: 1.2rem; }
  .navBreadcrumb .breadcrumbItem a {
    color: #F2DA63; }
  .navBreadcrumb .breadcrumbItemActive a {
    color: white; }

/*---------------- MAIN INDEX ----------------*/
.mainIndex {
  background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 40%; }

#spin {
  color: #593636;
  font-size: 4.5rem;
  font-weight: 800; }

#spin:after {
  content: "";
  animation: spin 20s linear infinite; }

@keyframes spin {
  0% {
    content: "café"; }
  5% {
    content: "coffee"; }
  10% {
    content: "kafe"; }
  15% {
    content: "kaffe"; }
  20% {
    content: "kafés"; }
  25% {
    content: "der Kaffee"; }
  30% {
    content: "kaffii"; }
  35% {
    content: "kahveh"; }
  40% {
    content: "kawa"; }
  45% {
    content: "koohii"; }
  50% {
    content: "kohv"; }
  55% {
    content: "qéhvé"; }
  60% {
    content: "kofi"; }
  70% {
    content: "kafea"; }
  75% {
    content: "keopi"; }
  80% {
    content: "kawah"; }
  85% {
    content: "kape"; }
  90% {
    content: "kafei"; }
  95% {
    content: "kafija"; }
  99% {
    content: "bunna"; } }

.btnIndexTienda {
  background-color: #593636;
  color: #F2DA63;
  margin-bottom: 1rem; }

.img-responsive {
  max-width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

@keyframes textclip {
  to {
    background-position: 200% center; } }

/*-----------------------------------------*/
/*---------------------NAVBAR----------------------------------------------------*/
.navCustom {
  background-image: linear-gradient(to right, #593636, black);
  z-index: 2000;
  justify-content: center;
  height: 40%; }

.navbar-nav {
  align-content: center;
  font-family: "Heebo", sans-serif;
  text-align: center; }

a.nav-link {
  justify-items: center;
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  color: #ebc999; }
  a.nav-link:hover {
    color: #F2DA63; }

.navbar-light .navbar-nav .nav-link {
  color: #F2DA63; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #ebc999; }

.navbar-light .navbar-nav .nav-link.active {
  color: #d1ae4e; }

.navbar-light .navbar-brand {
  padding-left: 1vw;
  font-size: 3rem;
  color: #F2DA63; }

/*--------------LOGO NEON----------------------*/
.logoNeon {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  font-family: "Lato";
  background: linear-gradient(to right, #f2da63 20%, #d9a036 40%, #d9a036 60%, #f2da63 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite; }

@keyframes shine {
  to {
    background-position: 200% center; } }

/*-----------------SECTION INDEX----------------------*/
.sectionIndex {
  padding-top: 2vh;
  background-color: #D9A036;
  padding-bottom: 10vh; }
  .sectionIndex .h1Index {
    font-size: 4rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
    justify-content: center;
    color: #593636; }
  .sectionIndex .container {
    transform-style: preserve-3d; }
    .sectionIndex .container .box {
      position: relative;
      width: 300px;
      height: 300px;
      margin: 20px;
      transform-style: preserve-3d;
      perspective: 1000px;
      cursor: pointer; }
      .sectionIndex .container .box:hover .body {
        transform: rotateY(180deg); }
    .sectionIndex .container .body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: 0.9s ease; }
      .sectionIndex .container .body .imgContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d; }
        .sectionIndex .container .body .imgContainer img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .sectionIndex .container .body .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transform: rotateY(180deg); }
        .sectionIndex .container .body .content div {
          transform-style: preserve-3d;
          padding: 20px;
          background: linear-gradient(45deg, #593636, #f2da63);
          transform: translateZ(100px); }
          .sectionIndex .container .body .content div h3 {
            letter-spacing: 1px; }

/*---------------ARTICLE CARDS TESTIMONIOS------------*/
.articleIndexTestimonios {
  background-color: #593636;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 10vh; }
  .articleIndexTestimonios .h2Index {
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #D9A036;
    font-size: 3rem;
    padding-bottom: 2vh;
    margin-top: 1vh; }
  .articleIndexTestimonios .card {
    border: none;
    background-color: #D9A036; }
    .articleIndexTestimonios .card .contenidoUsuario p {
      font-family: "Heebo", sans-serif;
      margin-top: 2rem;
      font-size: 1rem; }
    .articleIndexTestimonios .card .ratings i {
      color: #593636; }

/*-------------------------------BUCLE FOR------------------------------*/
.pCards-1 {
  font-size: 1.2rem;
  color: #402624; }

.pCards-2 {
  font-size: 1.2rem;
  color: #402624; }

.pCards-3 {
  font-size: 1.2rem;
  color: #402624; }

.pCards-4 {
  font-size: 1.2rem;
  color: #402624; }

/*------------------------------FIN FOR----------------------------------*/
/*-----------------------------FOOTER NUEVO-------------------------------*/
.footer-dark {
  padding: 1vh 0;
  color: #593636;
  background-color: #A6691F; }
  .footer-dark .item {
    margin: auto;
    text-align: center;
    justify-content: center;
    justify-items: center; }
    .footer-dark .item h3 {
      margin-top: 1vh;
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center; }
    .footer-dark .item ul {
      text-align: center;
      padding: 1vh;
      list-style: none;
      line-height: 1.6;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 0; }
      .footer-dark .item ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.6; }
        .footer-dark .item ul a:hover {
          opacity: 0.8; }
  .footer-dark .card {
    background-color: #593636; }
    .footer-dark .card .text-color {
      color: #eee; }
  .footer-dark .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .75rem 1.25rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #696973;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5d5dc;
    border-radius: .375rem;
    box-shadow: none;
    transition: all .3s ease; }
  .footer-dark .btn-light {
    color: #fff;
    background-color: #593636;
    border-color: #593636; }
  .footer-dark .btn {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #593636;
    border: 1px solid transparent;
    padding: .75rem 1.75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .footer-dark .copyright {
    text-align: center;
    padding-top: 2rem;
    opacity: 0.3;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0; }

/*--------------------------------------------------------------------------------------------------*/
/*-----------------------------------NOSOTROS--------------------------------------*/
.bodyNosotros {
  background-image: linear-gradient(to right, #F2DA63, #D9A036); }
  .bodyNosotros .mainNosotros {
    height: auto; }
    .bodyNosotros .mainNosotros .contenedorNosotros {
      width: 80%;
      height: 30vh;
      font-family: "Heebo", sans-serif; }
      .bodyNosotros .mainNosotros .contenedorNosotros .titleNosotros {
        color: #593636;
        font-size: 5rem;
        font-family: "Heebo", sans-serif;
        align-items: center;
        text-align: center;
        margin: auto; }
      .bodyNosotros .mainNosotros .contenedorNosotros .articleNosotros1 {
        text-align: center; }
  .bodyNosotros .articleNosotros .h2Nosotros {
    font-size: 3rem;
    text-align: center;
    color: #593636;
    font-weight: 600; }
  .bodyNosotros .articleNosotros .card {
    border-radius: 20px;
    background: #593636;
    border: none;
    color: #F2DA63; }
    .bodyNosotros .articleNosotros .card img {
      border-radius: 50%;
      background: linear-gradient(145deg, #d6d6d6, #ffffff); }
  .bodyNosotros .mainNosotros .contenedorNosotros {
    width: 80%;
    height: 30vh;
    font-family: "Heebo", sans-serif; }
    .bodyNosotros .mainNosotros .contenedorNosotros .titleNosotros {
      color: #593636;
      font-size: 5rem;
      font-family: "Heebo", sans-serif;
      align-items: center;
      text-align: center;
      margin: auto; }
    .bodyNosotros .mainNosotros .contenedorNosotros .articleNosotros1 {
      text-align: center; }
  .bodyNosotros .articleNosotros .h2Nosotros {
    font-size: 3rem;
    text-align: center;
    color: #593636;
    font-weight: 600; }
  .bodyNosotros .articleNosotros .card {
    border-radius: 20px;
    background: #593636;
    border: none;
    color: #F2DA63; }
    .bodyNosotros .articleNosotros .card img {
      border-radius: 50%;
      background: linear-gradient(145deg, #d6d6d6, #ffffff); }

.menuDropDownNosotros {
  background-color: #F2DA63;
  font-size: 1.3rem; }

.menuDropDownNosotros__item--quienesSomos:hover {
  text-decoration: underline; }

.menuDropDownNosotros__item--mision:hover {
  text-decoration: underline; }

.menuDropDownNosotros__item--valores:hover {
  text-decoration: underline; }

/*------SUCURSALES-------*/
.mainSucursales {
  width: 100%; }
  .mainSucursales .mainSucursales__titleSucursales--centrado {
    color: #F28627;
    font-size: 5rem;
    font-family: "Heebo", sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-bottom: 20px; }

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 30vh; }

.btnMapaModal {
  background-color: #F2DA63;
  color: white; }
  .btnMapaModal:hover {
    background-color: white;
    color: #F2DA63; }

/*--------TIENDA-----------*/
.contenedorMain__centrar__titleTienda {
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: "Heebo", sans-serif;
  font-size: 5rem !important;
  color: #F28627; }

.modalContentCustom__modalHeaderCustom {
  background-color: #F2DA63;
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 2rem; }

.modalContentCustom__modalBodyCustom {
  font-family: "Heebo", sans-serif; }

.modalFooter__botonCancelar--rojo {
  background-color: red;
  color: white; }

.modalFooter__botonComprar--verde {
  background-color: green;
  color: white; }

/*-----------------------------MAPS---------------------------------*/
/*-----------------------------EACH---------------------------------*/
.green-background {
  color: white;
  background-color: green;
  border-color: green; }
  .green-background:hover {
    background-color: white;
    border-radius: 2px solid green;
    color: green; }

.orange-background {
  color: white;
  background-color: orange;
  border-color: orange; }
  .orange-background:hover {
    background-color: white;
    border-radius: 2px solid orange;
    color: orange; }

.blue-background {
  color: white;
  background-color: blue;
  border-color: blue; }
  .blue-background:hover {
    background-color: white;
    border-radius: 2px solid blue;
    color: blue; }

.red-background {
  color: white;
  background-color: red;
  border-color: red; }
  .red-background:hover {
    background-color: white;
    border-radius: 2px solid red;
    color: red; }

/*------------------------FIN EACH----------------------------------*/
.estiloPrecioCafé {
  font-family: "Heebo", sans-serif;
  font-size: 2rem; }

.cardsBody {
  background-color: #5c453c;
  color: white;
  font-family: "Heebo", sans-serif;
  border-radius: 20px;
  margin-bottom: 2vh; }
  .cardsBody:hover {
    background-color: #947265;
    cursor: pointer; }
  .cardsBody .btnComprar {
    margin-bottom: 2.5vh;
    font-family: "Heebo", sans-serif; }

/*------------------------*/
/*--------CONTACTO---------*/
.bodyContacto__headerCustom__navCustom {
  background-image: linear-gradient(to left, #4d3227, #4d3227);
  grid-area: header;
  z-index: 2000;
  justify-content: center;
  height: 20%; }

.mainContacto {
  width: 100%;
  height: 100vh;
  background-image: url(../multimedia/patron_cafe.jpg);
  background-repeat: repeat; }
  .mainContacto .form-box {
    font-family: "Heebo", sans-serif;
    max-width: 500px;
    margin: auto;
    padding: 50px;
    color: white;
    background: #F2DA63;
    border: 10px solid #f2f2f2; }
  .mainContacto h1,
  .mainContacto p {
    text-align: center; }
  .mainContacto textarea {
    width: 100%;
    margin-bottom: 2rem; }
  .mainContacto .btnEnviarFormulario {
    width: 100%;
    font-size: 1rem;
    background-color: #f77638;
    color: white;
    border-color: white;
    justify-items: center; }
    .mainContacto .btnEnviarFormulario:hover {
      background-color: white;
      color: #f77638;
      border-color: #f77638; }
  .mainContacto .btnCancelarFormulario {
    font-size: 1rem;
    background-color: red;
    color: white;
    border-color: white;
    justify-items: center; }
    .mainContacto .btnCancelarFormulario:hover {
      background-color: white;
      color: red;
      border-color: red; }
